<%- include('header') %>
<div class="breadcrumb breadcrumb-style-one">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h2 class="breadcrumb-title">Error</h2>
        <ul class="d-flex justify-content-center breadcrumb-items">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Error</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="error-wrapper pt-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="error-content text-center">
            <div class="error-vactor text-center">
              <img
                src="assets/images/shapes/error-vactor.png"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="error-text">
              <h2>That Page Are Not Found</h2>
              <p>
                Duis rutrum nisl urna. Maecenas vel libero faucibus nisi
                venenatis hendrerit a id lectus. Suspendissendt blandit
                interdum. Sed pellentesque at nunc eget consente
                consectetur.Duis rutrum nisl urna. Maecenas vel libero
              </p>
              <div class="error-btn">
                <a href="/"
                  ><i class="bi bi-house-door"></i> GO TO HOME</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('footer') %>