<%- include('header') %>
<div class="breadcrumb breadcrumb-style-one">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h2 class="breadcrumb-title">Blog Details</h2>
        <ul class="d-flex justify-content-center breadcrumb-items">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Blog Details</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="blog-details-wrapper pt-80">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="blog-details">
            <div class="post-header">
              <h2 class="post-title">
                Sed nec lacinia sapien. Sed pretium lorem at leo Sed necles
                lacinia sapien. Sed pretium.
              </h2>
              <div class="post-meta">
                <a href="#" class="blog-writer"
                  ><i class="bi bi-person-circle"></i> By John Smith
                </a>
                <a href="#" class="blog-comments"
                  ><i class="bi bi-calendar3"></i> Novembar 16, 2021</a
                >
                <a href="#" class="blog-comments"
                  ><i class="bi bi-chat-left-quote"></i> Comment (08)</a
                >
              </div>
            </div>
            <div class="post-thumb">
              <img src="assets/images/blog/blog-thumb-xl1.png" alt="" />
            </div>
            <div class="post-body">
              <p>
                Duis rutrum nisl urna. Maecenas vel libero faucibus nisi
                venenatis hendrerit a id lectus. Suspendissendt blandit
                interdum. Sed pellentesque at nunc eget consente Duis rutrum
                nisl urna. Maecenas vel libero faucibus nisiteden venenatis
                hendrerit a id lectus. Suspendissendt blandit interdum. Sed
                pellentesque at nunc eget consente andit consectetur.Duis
                rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis
                hendrerit a id lectus. Maecenas Suspendissendt blandit
                interdum. libero faucibus nisi venenatis hendrerit a id
                lectus. <br />
                Suspendissendt blandit interdum. Sed pellentesque at nunc
                consectetur.Duis rutrum nisl urna. Maecenas vel libero
                faucibus nisi venenatis hendrerit a id lectus. Suspendissendt
                blandit interdum. Sed pellentesque at nunc consectetur.Duis
                rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis
                hendrerit a id lectus. Suspendissendt blandit interdum. Sed
                pellentesque at nunc consectetur.Duis rutrum nisl urna.
              </p>
              <div class="blog-quote-box-one d-flex flex-column flex-sm-row">
                <div class="quote-icon">
                  <img src="assets/images/icons/blogquote.svg" alt="" />
                </div>
                <blockquote>
                  <p>
                    Duis rutrum nisl urna. Maecenas vel libero faucibus nisi
                    venenatis themex hendrerit a id lectus. Suspendissendt
                    blandit interdum. Sed pellentesque at nunc eget consente
                    Duis rutrum nisl urna.
                  </p>
                </blockquote>
              </div>
              <p>
                Duis rutrum nisl urna. Maecenas vel libero faucibus nisi
                venenatis hendrerit a id lectus. Suspendissendt blandit
                interdum. Sed pellentesque at nunc eget consente Duis rutrum
                nisl urna. Maecenas vel libero faucibus nisiteden venenatis
                hendrerit a id lectus. Suspendissendt blandit interdum. Sed
                pellentesque at nunc eget consente andit consectetur.Duis
                rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis
                hendrerit a id lectus. Maecenas Suspendissendt blandit
                interdum.
              </p>
              <div class="post-innner-image">
                <img src="assets/images/blog/blog-d-inner.png" alt="" />
              </div>
              <h3 class="sub-title">Things You Can Do to a vibe</h3>
              <p>
                Duis rutrum nisl urna. Maecenas vel libero faucibus nisi
                venenatis hendrerit a id lectus. Suspendissendt blandit
                interdum. Sed pellentesque at nunc eget consente Duis rutrum
                nisl urna. Maecenas vel libero faucibus nisiteden venenatis
                hendrerit a id lectus. Suspendissendt blandit interdum. Sed
                pellentesque at nunc eget consente andit consectetur.Duis
                rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis
                hendrerit a id lectus. Maecenas Suspendissendt blandit
                interdum.
              </p>
              <div class="blog-quote-box-two text-center">
                <div class="quote-icon">
                  <img src="assets/images/icons/blogquote.svg" alt="" />
                </div>
                <blockquote>
                  <p>
                    Duis rutrum nisl urna. Maecenas vel libero faucibus nisi
                    venenatis themex hendrerit a id lectus. Suspendissendt
                    blandit interdum. Sed pellentesque at nunc eget consente
                    Duis rutrum nisl urna.
                  </p>
                </blockquote>
              </div>
              <p>
                Duis rutrum nisl urna. Maecenas vel libero faucibus nisi
                venenatis hendrerit a id lectus. Suspendissendt blandit
                interdum. Sed pellentesque at nunc eget consente Duis rutrum
                nisl urna. Maecenas vel libero faucibus nisiteden venenatis
                hendrerit a id lectus. Suspendissendt blandit interdum. Sed
                pellentesque at nunc eget consente andit consectetur.Duis
                rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis
                hendrerit a id lectus. Maecenas Suspendissendt blandit
                interdum.Suspendissendt blandit interdum. Sed pellentesque at
                nunc eget moris.
              </p>
            </div>
            <div class="post-footer flex-wrap flex-md-nowrap">
              <a href="#" class="post-switcher prev-post"
                ><i class="bi bi-chevron-left"></i> Previous</a
              >
              <a href="#" class="next-post-link"
                >Hendrerit a id lectus. Suspendissendt blandit interdum. Sed
                pellentesque at nunc eget consente.</a
              >
              <a href="#" class="post-switcher next-post"
                >Next <i class="bi bi-chevron-right"></i
              ></a>
            </div>
          </div>
          <div class="comment-section">
            <h4>Comment (05)</h4>
            <ul class="comment-list">
              <li class="single-comment d-flex flex-sm-row flex-column">
                <div class="commmentor">
                  <img src="assets/images/reviewer/commertor2.png" alt="" />
                </div>
                <div class="comment mt-4 mt-sm-0">
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div class="info">
                      <h6>Silvia Perry</h6>
                      <span>2 April, 2021 10.00PM</span>
                    </div>
                    <ul class="rating d-flex">
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                    </ul>
                  </div>
                  <p>
                    Morbi dictum pulvinar velit, id mollis lorem faucibus acUt
                    sed lacinia ipsum. cibuses acUt sed lacinia ipsum.
                    Suspendisse
                  </p>
                  <div class="reply-btn">
                    <a href="#"><i class="bi bi-reply-all-fill"></i> Reply</a>
                  </div>
                </div>
              </li>
              <li class="single-comment d-flex flex-sm-row flex-column">
                <div class="commmentor">
                  <img src="assets/images/reviewer/commertor3.png" alt="" />
                </div>
                <div class="comment mt-4 mt-sm-0">
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div class="info">
                      <h6>Lilyan Antu</h6>
                      <span>2 April, 2021 10.00PM</span>
                    </div>
                    <ul class="rating d-flex">
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                    </ul>
                  </div>
                  <p>
                    Morbi dictum pulvinar velit, id mollis lorem faucibus acUt
                    sed lacinia ipsum. cibuses acUt sed lacinia ipsum.
                    Suspendisse
                  </p>
                  <div class="reply-btn">
                    <a href="#"><i class="bi bi-reply-all-fill"></i> Reply</a>
                  </div>
                </div>
              </li>
              <li class="single-comment d-flex flex-sm-row flex-column">
                <div class="commmentor">
                  <img src="assets/images/reviewer/commertor1.png" alt="" />
                </div>
                <div class="comment mt-4 mt-sm-0">
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div class="info">
                      <h6>Adama Grof</h6>
                      <span>2 April, 2021 10.00PM</span>
                    </div>
                    <ul class="rating d-flex">
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                    </ul>
                  </div>
                  <p>
                    Morbi dictum pulvinar velit, id mollis lorem faucibus acUt
                    sed lacinia ipsum. cibuses acUt sed lacinia ipsum.
                    Suspendisse
                  </p>
                  <div class="reply-btn">
                    <a href="#"><i class="bi bi-reply-all-fill"></i> Reply</a>
                  </div>
                </div>
              </li>
            </ul>
            <div class="comment-btn text-center">
              <a href="#">View All Comment</a>
            </div>
          </div>
          <form action="#" id="comment_form" method="post">
            <div class="comment-form mt-110">
              <h4>Leave Your Comment</h4>
              <div class="row">
                <div class="col-lg-6">
                  <div class="custom-input-group">
                    <input
                      type="text"
                      placeholder="Your Full Name"
                      id="name"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="custom-input-group">
                    <input type="text" placeholder="Your Email" id="email" />
                  </div>
                </div>
              </div>
              <div class="custom-input-group">
                <input type="text" placeholder="Tour Type" id="type" />
              </div>
              <div class="custom-input-group">
                <textarea
                  cols="20"
                  rows="7"
                  placeholder="Write Message"
                ></textarea>
              </div>
              <ul class="form-rating d-flex">
                <li><i class="bi bi-star"></i></li>
                <li><i class="bi bi-star"></i></li>
                <li><i class="bi bi-star"></i></li>
                <li><i class="bi bi-star"></i></li>
                <li><i class="bi bi-star"></i></li>
              </ul>
              <div class="custom-input-group">
                <div class="submite-btn">
                  <button type="submit">Send Message</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-4">
          <div class="blog-sidebar">
            <aside class="blog-widget widget-search">
              <div class="widget-title">
                <h4>Search Here</h4>
              </div>
              <div class="widget-body">
                <form action="#" method="post" id="blog-sidebar-search">
                  <div class="search-input-group">
                    <input type="search" placeholder="Your Destination" />
                    <button type="submit">SEAECH</button>
                  </div>
                </form>
              </div>
            </aside>
            <aside class="blog-widget widget-categories mt-30">
              <div class="widget-title">
                <h4>Categories</h4>
              </div>
              <ul class="widget-body">
                <li>
                  <a href="#"
                    ><h6>
                      <i class="bi bi-chevron-double-right"></i> New York City
                    </h6>
                    <span>(20)</span></a
                  >
                </li>
                <li>
                  <a href="#"
                    ><h6>
                      <i class="bi bi-chevron-double-right"></i> Adventure
                      Tour
                    </h6>
                    <span>(08)</span></a
                  >
                </li>
                <li>
                  <a href="#"
                    ><h6>
                      <i class="bi bi-chevron-double-right"></i> Couple Tour
                    </h6>
                    <span>(18)</span></a
                  >
                </li>
                <li>
                  <a href="#"
                    ><h6>
                      <i class="bi bi-chevron-double-right"></i> Village Tour
                    </h6>
                    <span>(21)</span></a
                  >
                </li>
                <li>
                  <a href="#"
                    ><h6>
                      <i class="bi bi-chevron-double-right"></i> Group Tour
                    </h6>
                    <span>(09)</span></a
                  >
                </li>
              </ul>
            </aside>
            <aside class="blog-widget widget-recent-entries-custom mt-30">
              <div class="widget-title">
                <h4>New Post</h4>
              </div>
              <ul class="widget-body">
                <li class="clearfix">
                  <div class="wi">
                    <a href="blog-details.html"
                      ><img
                        src="assets/images/blog/blog-thumb-sm1.png"
                        alt=""
                    /></a>
                  </div>
                  <div class="wb">
                    <h6>
                      <a href="blog-details.html"
                        >Map where your photos were taken and discover local
                        points.</a
                      >
                    </h6>
                    <div class="wb-info">
                      <span class="post-date">
                        <i class="bi bi-person-circle"></i> By John Smith
                      </span>
                      <span class="post-date">
                        <i class="bi bi-calendar3"></i> May 8, 2016</span
                      >
                    </div>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="wi">
                    <a href="blog-details.html"
                      ><img
                        src="assets/images/blog/blog-thumb-sm2.png"
                        alt=""
                    /></a>
                  </div>
                  <div class="wb">
                    <h6>
                      <a href="blog-details.html"
                        >San Francisco Golden Gate Bridge, cable cars &
                        fog.</a
                      >
                    </h6>
                    <div class="wb-info">
                      <span class="post-date">
                        <i class="bi bi-person-circle"></i> By John Smith
                      </span>
                      <span class="post-date">
                        <i class="bi bi-calendar3"></i> May 8, 2016</span
                      >
                    </div>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="wi">
                    <a href="blog-details.html"
                      ><img
                        src="assets/images/blog/blog-thumb-sm3.png"
                        alt=""
                    /></a>
                  </div>
                  <div class="wb">
                    <h6>
                      <a href="blog-details.html"
                        >Vestibulum luctus hendrerit verba neque, et
                        blandit.</a
                      >
                    </h6>
                    <div class="wb-info">
                      <span class="post-date">
                        <i class="bi bi-person-circle"></i> By John Smith
                      </span>
                      <span class="post-date">
                        <i class="bi bi-calendar3"></i> May 8, 2016</span
                      >
                    </div>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="wi">
                    <a href="blog-details.html"
                      ><img
                        src="assets/images/blog/blog-thumb-sm4.png"
                        alt=""
                    /></a>
                  </div>
                  <div class="wb">
                    <h6>
                      <a href="blog-details.html"
                        >Aenean auctor porta sodales anve Suspendisse
                        fringilla.</a
                      >
                    </h6>
                    <div class="wb-info">
                      <span class="post-date">
                        <i class="bi bi-person-circle"></i> By John Smith
                      </span>
                      <span class="post-date">
                        <i class="bi bi-calendar3"></i> May 8, 2016</span
                      >
                    </div>
                  </div>
                </li>
              </ul>
            </aside>
            <aside class="blog-widget widget-tag-cloud mt-30">
              <div class="widget-title">
                <h4>Tags</h4>
              </div>
              <div class="tag-cloud widget-body">
                <a href="#">Adventure</a>
                <a href="#">Trip</a>
                <a href="#">Guided</a>
                <a href="#">Historical</a>
                <a href="#">Road Trips</a>
                <a href="#">Tourist</a>
              </div>
            </aside>
            <aside class="blog-widget widget-gallary mt-30">
              <div class="widget-title">
                <h4>Gallery</h4>
              </div>
              <ul class="widget-body">
                <li>
                  <a
                    href="assets/images/gallary/sb-gallary-1.png"
                    data-fancybox="gallery"
                    data-caption="Caption Here"
                    class="gallary-overlay"
                  >
                    <img
                      src="assets/images/gallary/sb-gallary-1.png"
                      alt=""
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="assets/images/gallary/sb-gallary-2.png"
                    data-fancybox="gallery"
                    data-caption="Caption Here"
                    class="gallary-overlay"
                  >
                    <img
                      src="assets/images/gallary/sb-gallary-2.png"
                      alt=""
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="assets/images/gallary/sb-gallary-3.png"
                    data-fancybox="gallery"
                    data-caption="Caption Here"
                    class="gallary-overlay"
                  >
                    <img
                      src="assets/images/gallary/sb-gallary-3.png"
                      alt=""
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="assets/images/gallary/sb-gallary-4.png"
                    data-fancybox="gallery"
                    data-caption="Caption Here"
                    class="gallary-overlay"
                  >
                    <img
                      src="assets/images/gallary/sb-gallary-4.png"
                      alt=""
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="assets/images/gallary/sb-gallary-5.png"
                    data-fancybox="gallery"
                    data-caption="Caption Here"
                    class="gallary-overlay"
                  >
                    <img
                      src="assets/images/gallary/sb-gallary-5.png"
                      alt=""
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="assets/images/gallary/sb-gallary-6.png"
                    data-fancybox="gallery"
                    data-caption="Caption Here"
                    class="gallary-overlay"
                  >
                    <img
                      src="assets/images/gallary/sb-gallary-6.png"
                      alt=""
                    />
                  </a>
                </li>
              </ul>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('footer') %>