<%- include('header') %>
<div class="blog-sidebar-wrapper pt-80">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="blog-card-gamma-full">
            <div class="blog-thumb">
              <a href="/blog-details">
                <img src="assets/images/blog/blog-thumb-xl1.png" alt="" />
              </a>
              <div class="blog-lavel">
                <a href="#">Tourist</a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-body-top">
                <a href="#" class="blog-writer"
                  ><i class="bi bi-person-circle"></i> By John Smith
                </a>
                <a href="#" class="blog-comments"
                  ><i class="bi bi-calendar3"></i> Novembar 16, 2021</a
                >
                <a href="#" class="blog-comments"
                  ><i class="bi bi-chat-left-quote"></i> Comment (08)</a
                >
              </div>
              <h4 class="blog-title">
                <a href="/blog-details"
                  >Sed nec lacinia sapien. Sed pretium lorem at leo Sed necles
                  lacinia sapien. Sed pretium lorem at leo pellentesque.</a
                >
              </h4>
            </div>
          </div>
          <div class="blog-card-gamma-full">
            <div class="blog-thumb">
              <a href="/blog-details">
                <img src="assets/images/blog/blog-thumb-xl2.png" alt="" />
              </a>
              <div class="blog-lavel">
                <a href="#">LifeStyle</a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-body-top">
                <a href="#" class="blog-writer"
                  ><i class="bi bi-person-circle"></i> By John Smith
                </a>
                <a href="#" class="blog-comments"
                  ><i class="bi bi-calendar3"></i> Novembar 16, 2021</a
                >
                <a href="#" class="blog-comments"
                  ><i class="bi bi-chat-left-quote"></i> Comment (08)</a
                >
              </div>
              <h4 class="blog-title">
                <a href="/blog-details"
                  >Donec imperdiet est at ultrices sollicitudin urna metus
                  iaculis odio eget efficitur leo eros id lectus.</a
                >
              </h4>
            </div>
          </div>
          <div class="blog-card-gamma-full">
            <div class="blog-thumb">
              <a href="/blog-details">
                <img src="assets/images/blog/blog-thumb-xl3.png" alt="" />
              </a>
              <div class="blog-lavel">
                <a href="#">Tourist</a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-body-top">
                <a href="#" class="blog-writer"
                  ><i class="bi bi-person-circle"></i> By John Smith
                </a>
                <a href="#" class="blog-comments"
                  ><i class="bi bi-calendar3"></i> Novembar 16, 2021</a
                >
                <a href="#" class="blog-comments"
                  ><i class="bi bi-chat-left-quote"></i> Comment (08)</a
                >
              </div>
              <h4 class="blog-title">
                <a href="/blog-details"
                  >Mauris vitae nibh nulla. Morbi convallis finibus mi, et
                  tincidunt odio. Donec eu aliquam arcu.</a
                >
              </h4>
            </div>
          </div>
          <div class="blog-card-gamma-full">
            <div class="blog-thumb">
              <a href="/blog-details">
                <img src="assets/images/blog/blog-thumb-xl4.png" alt="" />
              </a>
              <div class="blog-lavel">
                <a href="#">Trip</a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-body-top">
                <a href="#" class="blog-writer"
                  ><i class="bi bi-person-circle"></i> By John Smith
                </a>
                <a href="#" class="blog-comments"
                  ><i class="bi bi-calendar3"></i> Novembar 16, 2021</a
                >
                <a href="#" class="blog-comments"
                  ><i class="bi bi-chat-left-quote"></i> Comment (08)</a
                >
              </div>
              <h4 class="blog-title">
                <a href="/blog-details"
                  >Fusce tristique placerat arcu, eget interdum lacus suscipit
                  et. Aenean placerat efficitur dignissim.</a
                >
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <nav>
                <ul
                  class="pagination pagination-style-one justify-content-center pt-80"
                >
                  <li class="page-item page-arrow">
                    <a class="page-link" href="#"
                      ><i class="bi bi-chevron-double-left"></i
                    ></a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">01</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">02</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">03</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">04</a>
                  </li>
                  <li class="page-item page-arrow">
                    <a class="page-link" href="#"
                      ><i class="bi bi-chevron-double-right"></i
                    ></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="blog-sidebar">
            <aside class="blog-widget widget-search">
              <div class="widget-title">
                <h4>Search Here</h4>
              </div>
              <div class="widget-body">
                <form action="#" method="post" id="blog-sidebar-search">
                  <div class="search-input-group">
                    <input type="search" placeholder="Your Destination" />
                    <button type="submit">SEAECH</button>
                  </div>
                </form>
              </div>
            </aside>
            <aside class="blog-widget widget-categories mt-30">
              <div class="widget-title">
                <h4>Categories</h4>
              </div>
              <ul class="widget-body">
                <li>
                  <a href="#"
                    ><h6>
                      <i class="bi bi-chevron-double-right"></i> New York City
                    </h6>
                    <span>(20)</span></a
                  >
                </li>
                <li>
                  <a href="#"
                    ><h6>
                      <i class="bi bi-chevron-double-right"></i> Adventure
                      Tour
                    </h6>
                    <span>(08)</span></a
                  >
                </li>
                <li>
                  <a href="#"
                    ><h6>
                      <i class="bi bi-chevron-double-right"></i> Couple Tour
                    </h6>
                    <span>(18)</span></a
                  >
                </li>
                <li>
                  <a href="#"
                    ><h6>
                      <i class="bi bi-chevron-double-right"></i> Village Tour
                    </h6>
                    <span>(21)</span></a
                  >
                </li>
                <li>
                  <a href="#"
                    ><h6>
                      <i class="bi bi-chevron-double-right"></i> Group Tour
                    </h6>
                    <span>(09)</span></a
                  >
                </li>
              </ul>
            </aside>

            <aside class="blog-widget widget-recent-entries-custom mt-30">
              <div class="widget-title">
                <h4>New Post</h4>
              </div>
              <ul class="widget-body">
                <li class="clearfix">
                  <div class="wi">
                    <a href="/blog-details"
                      ><img
                        src="assets/images/blog/blog-thumb-sm1.png"
                        alt=""
                    /></a>
                  </div>
                  <div class="wb">
                    <h6>
                      <a href="/blog-details"
                        >Map where your photos were taken and discover local
                        points.</a
                      >
                    </h6>
                    <div class="wb-info">
                      <span class="post-date">
                        <i class="bi bi-person-circle"></i> By John Smith
                      </span>
                      <span class="post-date">
                        <i class="bi bi-calendar3"></i> May 8, 2016</span
                      >
                    </div>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="wi">
                    <a href="/blog-details"
                      ><img
                        src="assets/images/blog/blog-thumb-sm2.png"
                        alt=""
                    /></a>
                  </div>
                  <div class="wb">
                    <h6>
                      <a href="/blog-details"
                        >San Francisco Golden Gate Bridge, cable cars &
                        fog.</a
                      >
                    </h6>
                    <div class="wb-info">
                      <span class="post-date">
                        <i class="bi bi-person-circle"></i> By John Smith
                      </span>
                      <span class="post-date">
                        <i class="bi bi-calendar3"></i> May 8, 2016</span
                      >
                    </div>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="wi">
                    <a href="/blog-details"
                      ><img
                        src="assets/images/blog/blog-thumb-sm3.png"
                        alt=""
                    /></a>
                  </div>
                  <div class="wb">
                    <h6>
                      <a href="/blog-details"
                        >Vestibulum luctus hendrerit verba neque, et
                        blandit.</a
                      >
                    </h6>
                    <div class="wb-info">
                      <span class="post-date">
                        <i class="bi bi-person-circle"></i> By John Smith
                      </span>
                      <span class="post-date">
                        <i class="bi bi-calendar3"></i> May 8, 2016</span
                      >
                    </div>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="wi">
                    <a href="/blog-details"
                      ><img
                        src="assets/images/blog/blog-thumb-sm4.png"
                        alt=""
                    /></a>
                  </div>
                  <div class="wb">
                    <h6>
                      <a href="/blog-details"
                        >Aenean auctor porta sodales anve Suspendisse
                        fringilla.</a
                      >
                    </h6>
                    <div class="wb-info">
                      <span class="post-date">
                        <i class="bi bi-person-circle"></i> By John Smith
                      </span>
                      <span class="post-date">
                        <i class="bi bi-calendar3"></i> May 8, 2016</span
                      >
                    </div>
                  </div>
                </li>
              </ul>
            </aside>
            <aside class="blog-widget widget-tag-cloud mt-30">
              <div class="widget-title">
                <h4>Tags</h4>
              </div>
              <div class="tag-cloud widget-body">
                <a href="#">Adventure</a>
                <a href="#">Trip</a>
                <a href="#">Guided</a>
                <a href="#">Historical</a>
                <a href="#">Road Trips</a>
                <a href="#">Tourist</a>
                <a href="#">Cultural</a>
                <a href="#">Natural Tour</a>
                <a href="#">Journey</a>
              </div>
            </aside>
            <aside class="blog-widget widget-gallary mt-30">
              <div class="widget-title">
                <h4>Gallery</h4>
              </div>
              <ul class="widget-body">
                <li>
                  <a
                    href="assets/images/gallary/sb-gallary-1.png"
                    data-fancybox="gallery"
                    data-caption="Caption Here"
                    class="gallary-overlay"
                  >
                    <img
                      src="assets/images/gallary/sb-gallary-1.png"
                      alt=""
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="assets/images/gallary/sb-gallary-2.png"
                    data-fancybox="gallery"
                    data-caption="Caption Here"
                    class="gallary-overlay"
                  >
                    <img
                      src="assets/images/gallary/sb-gallary-2.png"
                      alt=""
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="assets/images/gallary/sb-gallary-3.png"
                    data-fancybox="gallery"
                    data-caption="Caption Here"
                    class="gallary-overlay"
                  >
                    <img
                      src="assets/images/gallary/sb-gallary-3.png"
                      alt=""
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="assets/images/gallary/sb-gallary-4.png"
                    data-fancybox="gallery"
                    data-caption="Caption Here"
                    class="gallary-overlay"
                  >
                    <img
                      src="assets/images/gallary/sb-gallary-4.png"
                      alt=""
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="assets/images/gallary/sb-gallary-5.png"
                    data-fancybox="gallery"
                    data-caption="Caption Here"
                    class="gallary-overlay"
                  >
                    <img
                      src="assets/images/gallary/sb-gallary-5.png"
                      alt=""
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="assets/images/gallary/sb-gallary-6.png"
                    data-fancybox="gallery"
                    data-caption="Caption Here"
                    class="gallary-overlay"
                  >
                    <img
                      src="assets/images/gallary/sb-gallary-6.png"
                      alt=""
                    />
                  </a>
                </li>
              </ul>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-area mt-110">
    <div class="footer-main-wrapper">
      <div class="footer-vactor">
        <img src="assets/images/banner/footer-bg.png" alt="" />
      </div>
      <div class="container">
        <div class="row justify-content-center g-4">
          <div class="col-lg-4">
            <div class="footer-about text-lg-start text-center">
              <p>
                Duis rutrum nisl urna. Maecenas vel libero faucibus nisi
                venenatis hendrerit a id lectus. Suspendissendt molestie
                turpis nec lacinia vehicula.
              </p>
              <div class="footer-social-wrap">
                <h5>Follow Us On:</h5>
                <ul
                  class="footer-social-links justify-content-lg-start justify-content-center"
                >
                  <li>
                    <a href="#"><i class="bx bxl-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="bx bxl-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="bx bxl-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="bx bxl-whatsapp"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="bx bxl-pinterest-alt"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4">
            <div class="footer-widget">
              <h4 class="footer-widget-title">Quick Link</h4>
              <ul class="footer-links">
                <li><a href="/about">About Us</a></li>
                <li><a href="/package">Tour Package</a></li>
                <li><a href="/destination">Destination</a></li>
                <li><a href="/guide">Tour Guide</a></li>
                <li><a href="/package-details">Booking Process</a></li>
                <li><a href="/blog">Blog</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-4">
            <div class="footer-widget">
              <h4 class="footer-widget-title">Tour Type</h4>
              <ul class="footer-links">
                <li><a href="#">Wild & Adventure Tours</a></li>
                <li><a href="#">Group Tour</a></li>
                <li><a href="#">Seasonal Tours</a></li>
                <li><a href="#">Relaxation Tours</a></li>
                <li><a href="#">Family Friendly Tours</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-8">
            <div class="footer-widget">
              <h4 class="footer-widget-title text-center">Gallery</h4>
              <div class="footer-gallary-grid">
                <div class="footer-gallary-item">
                  <a
                    href="assets/images/gallary/fg-1.png"
                    data-fancybox="footer"
                    data-caption="Caption Here"
                    ><img src="assets/images/gallary/fg-1.png" alt=""
                  /></a>
                </div>
                <div class="footer-gallary-item">
                  <a
                    href="assets/images/gallary/fg-2.png"
                    data-fancybox="footer"
                    data-caption="Caption Here"
                    ><img src="assets/images/gallary/fg-2.png" alt=""
                  /></a>
                </div>
                <div class="footer-gallary-item">
                  <a
                    href="assets/images/gallary/fg-3.png"
                    data-fancybox="footer"
                    data-caption="Caption Here"
                    ><img src="assets/images/gallary/fg-3.png" alt=""
                  /></a>
                </div>
                <div class="footer-gallary-item">
                  <a
                    href="assets/images/gallary/fg-4.png"
                    data-fancybox="footer"
                    data-caption="Caption Here"
                    ><img src="assets/images/gallary/fg-4.png" alt=""
                  /></a>
                </div>
                <div class="footer-gallary-item">
                  <a
                    href="assets/images/gallary/fg-5.png"
                    data-fancybox="footer"
                    data-caption="Caption Here"
                    ><img src="assets/images/gallary/fg-5.png" alt=""
                  /></a>
                </div>
                <div class="footer-gallary-item">
                  <a
                    href="assets/images/gallary/fg-6.png"
                    data-fancybox="footer"
                    data-caption="Caption Here"
                    ><img src="assets/images/gallary/fg-6.png" alt=""
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-contact-wrapper">
          <h5>Contact Us:</h5>
          <ul class="footer-contact-list">
            <li>
              <i class="bi bi-telephone-x"></i>
              <a href="tel:+17632275032">+1 763-227-5032</a>
            </li>
            <li>
              <i class="bi bi-envelope-open"></i>
              <a
                href="mailto:rakeshchaudhary7819@gmail.com"
                ><span
                  >rakeshchaudhary7819@gmail.com</span
                ></a
              >
            </li>
            <li>
              <i class="bi bi-geo-alt"></i>
              <a href="#">2752 Willison Street Eagan, United State</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-4 col-md-6 order-lg-1 order-3">
            <div class="copyright-link text-lg-start text-center">
              <p>
                Copyright 2021 TourXPro | Design By <a href="#"> Egens Lab</a>
              </p>
            </div>
          </div>
          <div class="col-lg-4 order-lg-2 order-1">
            <div class="footer-logo text-center">
              <a href="/"
                ><img src="assets/images/logo-w.png" alt=""
              /></a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 order-lg-3 order-2">
            <div class="policy-links">
              <ul
                class="policy-list justify-content-lg-end justify-content-center"
              >
                <li><a href="#">Terms & Condition</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('footer') %>