<%- include('header') %>
<div class="breadcrumb breadcrumb-style-one">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h2 class="breadcrumb-title">Blog</h2>
        <ul class="d-flex justify-content-center breadcrumb-items">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Blog</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="blog-wrapper pt-80">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="blog-card-gamma">
            <div class="blog-thumb">
              <a href="/blog-details">
                <img src="assets/images/blog/blog-md-1.png" alt="" />
              </a>
              <div class="blog-lavel">
                <a href="#">Tourist</a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-body-top">
                <a href="#" class="blog-writer"
                  ><i class="bi bi-person-circle"></i> By John Smith
                </a>
                <a href="#" class="blog-comments"
                  ><i class="bi bi-calendar3"></i> Novembar 16, 2021</a
                >
              </div>
              <h4 class="blog-title">
                <a href="/blog-details">
                  sollicitudin urna metus iaculis odio eget efficitur leo eros
                  id lectus.</a
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog-card-gamma">
            <div class="blog-thumb">
              <a href="/blog-details">
                <img src="assets/images/blog/blog-md-2.png" alt="" />
              </a>
              <div class="blog-lavel">
                <a href="#">Travel</a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-body-top">
                <a href="#" class="blog-writer"
                  ><i class="bi bi-person-circle"></i> By John Smith
                </a>
                <a href="#" class="blog-comments"
                  ><i class="bi bi-calendar3"></i> Novembar 16, 2021</a
                >
              </div>
              <h4 class="blog-title">
                <a href="/blog-details"
                  >vitae tempor convallis, mi ligula an suscipit nunc, ornare
                  suscipit.</a
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog-card-gamma">
            <div class="blog-thumb">
              <a href="/blog-details">
                <img src="assets/images/blog/blog-md-3.png" alt="" />
              </a>
              <div class="blog-lavel">
                <a href="#">Tourist</a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-body-top">
                <a href="#" class="blog-writer"
                  ><i class="bi bi-person-circle"></i> By John Smith
                </a>
                <a href="#" class="blog-comments"
                  ><i class="bi bi-calendar3"></i> Novembar 16, 2021</a
                >
              </div>
              <h4 class="blog-title">
                <a href="/blog-details"
                  >Aenean auctor porta sodales. Suspendisse fringilla neque
                  nulla.</a
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog-card-gamma">
            <div class="blog-thumb">
              <a href="/blog-details">
                <img src="assets/images/blog/blog-md-4.png" alt="" />
              </a>
              <div class="blog-lavel">
                <a href="#">Travel</a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-body-top">
                <a href="#" class="blog-writer"
                  ><i class="bi bi-person-circle"></i> By John Smith
                </a>
                <a href="#" class="blog-comments"
                  ><i class="bi bi-calendar3"></i> Novembar 16, 2021</a
                >
              </div>
              <h4 class="blog-title">
                <a href="/blog-details">
                  sollicitudin urna metus iaculis odio eget efficitur leo eros
                  id lectus.</a
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog-card-gamma">
            <div class="blog-thumb">
              <a href="/blog-details">
                <img src="assets/images/blog/blog-md-5.png" alt="" />
              </a>
              <div class="blog-lavel">
                <a href="#">Guide</a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-body-top">
                <a href="#" class="blog-writer"
                  ><i class="bi bi-person-circle"></i> By John Smith
                </a>
                <a href="#" class="blog-comments"
                  ><i class="bi bi-calendar3"></i> Novembar 16, 2021</a
                >
              </div>
              <h4 class="blog-title">
                <a href="/blog-details"
                  >vitae tempor convallis, mi ligula an suscipit nunc, ornare
                  suscipit.</a
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog-card-gamma">
            <div class="blog-thumb">
              <a href="/blog-details">
                <img src="assets/images/blog/blog-md-6.png" alt="" />
              </a>
              <div class="blog-lavel">
                <a href="#">Travel</a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-body-top">
                <a href="#" class="blog-writer"
                  ><i class="bi bi-person-circle"></i> By John Smith
                </a>
                <a href="#" class="blog-comments"
                  ><i class="bi bi-calendar3"></i> Novembar 16, 2021</a
                >
              </div>
              <h4 class="blog-title">
                <a href="/blog-details"
                  >Nulla urna leo, volutpat eu maurisa eget luctus malesuada
                  urna.</a
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog-card-gamma">
            <div class="blog-thumb">
              <a href="/blog-details">
                <img src="assets/images/blog/blog-md-7.png" alt="" />
              </a>
              <div class="blog-lavel">
                <a href="#">Story</a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-body-top">
                <a href="#" class="blog-writer"
                  ><i class="bi bi-person-circle"></i> By John Smith
                </a>
                <a href="#" class="blog-comments"
                  ><i class="bi bi-calendar3"></i> Novembar 16, 2021</a
                >
              </div>
              <h4 class="blog-title">
                <a href="/blog-details"
                  >Duis pretium sit amet nisi a malesuada Fusce congue justo
                  dui.</a
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog-card-gamma">
            <div class="blog-thumb">
              <a href="/blog-details">
                <img src="assets/images/blog/blog-md-8.png" alt="" />
              </a>
              <div class="blog-lavel">
                <a href="#">Travel</a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-body-top">
                <a href="#" class="blog-writer"
                  ><i class="bi bi-person-circle"></i> By John Smith
                </a>
                <a href="#" class="blog-comments"
                  ><i class="bi bi-calendar3"></i> Novembar 16, 2021</a
                >
              </div>
              <h4 class="blog-title">
                <a href="/blog-details"
                  >Nam efficitur facilisis tinciduntent Curabitur vitae enim
                  sed nunc.</a
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog-card-gamma">
            <div class="blog-thumb">
              <a href="/blog-details">
                <img src="assets/images/blog/blog-md-9.png" alt="" />
              </a>
              <div class="blog-lavel">
                <a href="#">Travel</a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-body-top">
                <a href="#" class="blog-writer"
                  ><i class="bi bi-person-circle"></i> By John Smith
                </a>
                <a href="#" class="blog-comments"
                  ><i class="bi bi-calendar3"></i> Novembar 16, 2021</a
                >
              </div>
              <h4 class="blog-title">
                <a href="/blog-details"
                  >vitae tempor convallis, mi ligula an suscipit nunc, ornare
                  suscipit.</a
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog-card-gamma">
            <div class="blog-thumb">
              <a href="/blog-details">
                <img src="assets/images/blog/blog-md-10.png" alt="" />
              </a>
              <div class="blog-lavel">
                <a href="#">Travel</a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-body-top">
                <a href="#" class="blog-writer"
                  ><i class="bi bi-person-circle"></i> By John Smith
                </a>
                <a href="#" class="blog-comments"
                  ><i class="bi bi-calendar3"></i> Novembar 16, 2021</a
                >
              </div>
              <h4 class="blog-title">
                <a href="/blog-details"
                  >Nullam tristique laoreet tortor, in interdum elit efficitur
                  at Interdum.</a
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog-card-gamma">
            <div class="blog-thumb">
              <a href="/blog-details">
                <img src="assets/images/blog/blog-md-11.png" alt="" />
              </a>
              <div class="blog-lavel">
                <a href="#">Travel</a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-body-top">
                <a href="#" class="blog-writer"
                  ><i class="bi bi-person-circle"></i> By John Smith
                </a>
                <a href="#" class="blog-comments"
                  ><i class="bi bi-calendar3"></i> Novembar 16, 2021</a
                >
              </div>
              <h4 class="blog-title">
                <a href="/blog-details"
                  >Mauris commodo massa vel diamnat feugiat sagittis Nunc
                  maxim.</a
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog-card-gamma">
            <div class="blog-thumb">
              <a href="/blog-details">
                <img src="assets/images/blog/blog-md-12.png" alt="" />
              </a>
              <div class="blog-lavel">
                <a href="#">Travel</a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-body-top">
                <a href="#" class="blog-writer"
                  ><i class="bi bi-person-circle"></i> By John Smith
                </a>
                <a href="#" class="blog-comments"
                  ><i class="bi bi-calendar3"></i> Novembar 16, 2021</a
                >
              </div>
              <h4 class="blog-title">
                <a href="/blog-details"
                  >Fusce tristique placerat arcu, eget interdum lacus suscipit
                  et.</a
                >
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <nav>
            <ul
              class="pagination pagination-style-one justify-content-center pt-80"
            >
              <li class="page-item page-arrow">
                <a class="page-link" href="#"
                  ><i class="bi bi-chevron-double-left"></i
                ></a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">01</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">02</a></li>
              <li class="page-item"><a class="page-link" href="#">03</a></li>
              <li class="page-item"><a class="page-link" href="#">04</a></li>
              <li class="page-item page-arrow">
                <a class="page-link" href="#"
                  ><i class="bi bi-chevron-double-right"></i
                ></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
<%- include('footer') %>