<%- include('header') %>
<div class="breadcrumb breadcrumb-style-one">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h2 class="breadcrumb-title">Destination Details</h2>
        <ul class="d-flex justify-content-center breadcrumb-items">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Destination Details</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="destination-details-wrapper pt-110">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="destination-details">
            <div class="dd-thumb">
              <img src="assets/images/destination/dd-thumb.png" alt="" />
            </div>
            <div class="dd-body">
              <h3 class="dd-subtitle">Discover New York</h3>
              <p>
                Duis rutrum nisl urna. Maecenas vel libero faucibus nisi
                venenatis hendrerit a id lectus. Suspendissendt blandit
                interdum. Sed pellentesque at nunc eget consente Duis rutrum
                nisl urna. Maecenas vel libero faucibus nisiteden venenatis
                hendrerit a id lectus. Suspendissendt blandit interdum. Sed
                pellentesque at nunc eget consente andit consectetur.Duis
                rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis
                hendrerit a id lectus. Maecenas Suspendissendt blandit
                interdum. libero faucibus nisi venenatis hendrerit a id
                lectus. Suspendissendt blandit interdum. <br />
                Sed pellentesque at nunc consectetur.Duis rutrum nisl urna.
                Maecenas vel libero faucibus nisi venenatis hendrerit a id
                lectus. Suspendissendt blandit interdum. Sed pellentesque at
                nunc consectetur.Duis rutrum nisl urna. Maecenas vel libero
                faucibus nisi venenatis hendrerit a id lectus. Suspendissendt
                blandit interdum. Sed pellentesque at nunc consectetur.Duis
                rutrum nisl urna.
              </p>
              <div class="row dd-img-group g-3">
                <div class="col-sm-6">
                  <div class="dd-inner-group">
                    <img src="assets/images/destination/dd-img1.png" alt="" />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="dd-inner-group">
                    <img src="assets/images/destination/dd-img2.png" alt="" />
                  </div>
                </div>
              </div>
              <p>
                Duis rutrum nisl urna. Maecenas vel libero faucibus nisi
                venenatis hendrerit a id lectus. Suspendissendt blandit
                interdum. Sed pellentesque at nunc eget consente Duis rutrum
                nisl urna. Maecenas vel libero faucibus nisiteden venenatis
                hendrerit a id lectus. Suspendissendt blandit interdum. Sed
                pellentesque at nunc eget consente andit consectetur.Duis
                rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis
                hendrerit a id lectus. Maecenas Suspendissendt blandit
                interdum.
              </p>
              <p>
                libero faucibus nisi venenatis hendrerit a id lectus.
                Suspendissendt blandit interdum. Sed pellentesque at nunc
                consectetur.Duis rutrum nisl urna. Maecenas vel libero
                faucibus nisi venenatis hendrerit a id lectus.
              </p>
              <div class="destination-overview-table">
                <h3 class="dd-subtitle">Overview</h3>
                <table class="table overview-table">
                  <tbody>
                    <tr>
                      <th>Destination</th>
                      <td>New York City</td>
                    </tr>
                    <tr>
                      <th>Departure</th>
                      <td>Yes Required</td>
                    </tr>
                    <tr>
                      <th>Departure Time</th>
                      <td>01 April, 2021 <span>10.00AM</span></td>
                    </tr>
                    <tr>
                      <th>Return Time</th>
                      <td>08 April, 2021 <span>10.00AM</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="destination-map">
                <h3 class="dd-subtitle">Map</h3>
                <div class="mapouter">
                  <div class="gmap_canvas">
                    <iframe
                      id="gmap_canvas"
                      src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&amp;t=&amp;z=9&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                    ></iframe
                    ><a href="https://123movies-to.org/"></a><br />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-5 mt-lg-0">
          <div class="package-sidebar">
            <aside class="package-widget widget-search">
              <div class="widget-title">
                <h4>Search Here</h4>
              </div>
              <div class="widget-body">
                <form action="#" method="post" id="blog-sidebar-search">
                  <div class="search-input-group">
                    <input type="search" placeholder="Your Destination" />
                    <button type="submit">SEAECH</button>
                  </div>
                </form>
              </div>
            </aside>
            <aside class="package-widget widget-tour-categoris mt-30">
              <div class="widget-title">
                <h4>Category</h4>
              </div>
              <div class="widget-body">
                <ul>
                  <li class="category-check">
                    <label class="form-check-label" for="cate">
                      <i class="bi bi-chevron-double-right"></i> New York City
                    </label>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="cate"
                    />
                  </li>
                  <li class="category-check">
                    <label class="form-check-label" for="cate2">
                      <i class="bi bi-chevron-double-right"></i>Adventure Tour
                    </label>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="cate2"
                    />
                  </li>
                  <li class="category-check">
                    <label class="form-check-label" for="cate3">
                      <i class="bi bi-chevron-double-right"></i> Couple Tour
                    </label>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="cate3"
                    />
                  </li>
                  <li class="category-check">
                    <label class="form-check-label" for="cate4">
                      <i class="bi bi-chevron-double-right"></i> Village Tour
                    </label>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="cate4"
                    />
                  </li>
                  <li class="category-check">
                    <label class="form-check-label" for="cate5">
                      <i class="bi bi-chevron-double-right"></i>Group Tour
                    </label>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="cate5"
                    />
                  </li>
                </ul>
              </div>
            </aside>
            <aside class="package-widget widget-gallary mt-30">
              <div class="widget-title">
                <h4>New Destination</h4>
              </div>
              <ul class="widget-body">
                <li>
                  <a
                    href="assets/images/gallary/sb-gallary-1.png"
                    data-fancybox="gallery"
                    data-caption="Caption Here"
                  >
                    <img
                      src="assets/images/gallary/sb-gallary-1.png"
                      alt=""
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="assets/images/gallary/sb-gallary-2.png"
                    data-fancybox="gallery"
                    data-caption="Caption Here"
                  >
                    <img
                      src="assets/images/gallary/sb-gallary-2.png"
                      alt=""
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="assets/images/gallary/sb-gallary-3.png"
                    data-fancybox="gallery"
                    data-caption="Caption Here"
                  >
                    <img
                      src="assets/images/gallary/sb-gallary-3.png"
                      alt=""
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="assets/images/gallary/sb-gallary-4.png"
                    data-fancybox="gallery"
                    data-caption="Caption Here"
                  >
                    <img
                      src="assets/images/gallary/sb-gallary-4.png"
                      alt=""
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="assets/images/gallary/sb-gallary-5.png"
                    data-fancybox="gallery"
                    data-caption="Caption Here"
                  >
                    <img
                      src="assets/images/gallary/sb-gallary-5.png"
                      alt=""
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="assets/images/gallary/sb-gallary-6.png"
                    data-fancybox="gallery"
                    data-caption="Caption Here"
                  >
                    <img
                      src="assets/images/gallary/sb-gallary-6.png"
                      alt=""
                    />
                  </a>
                </li>
              </ul>
            </aside>
            <aside class="widget-banner mt-30">
              <a href="#">
                <img
                  src="assets/images/banner/sidebar-banner.png"
                  alt=""
                  class="img-fluid"
                />
              </a>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('footer') %>