<%- include('header') %>
<div class="breadcrumb breadcrumb-style-one">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h2 class="breadcrumb-title">FAQ</h2>
        <ul class="d-flex justify-content-center breadcrumb-items">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">FAQ</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="faq-wrapper pt-76">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="faqs mt-30">
            <h2>
              Frequently <span>Asked </span><br />
              Question
            </h2>
            <div
              class="accordion faq-accordion accordion-flush"
              id="faq-accordion-example"
            >
              <div class="accordion-item faq-accordion">
                <h2 class="accordion-header" id="faq-headingOne">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq-collapseOne"
                    aria-expanded="false"
                    aria-controls="faq-collapseOne"
                  >
                    Nulla sed volutpat libero In consequat feugia?
                  </button>
                </h2>
                <div
                  id="faq-collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="faq-headingOne"
                  data-bs-parent="#faq-accordion-example"
                >
                  <div class="accordion-body">
                    <p>
                      Duis rutrum nisl urna. Maecenas vel libero faucibus nisi
                      venenatis hendrerit a id lectus. Suspendissendt molestie
                      turpis nec lacinia vehicula. Quisque eget volutpat
                      purus. Aenean blandit magna maximus landi quam
                      facilisis, tempor porttitor elit hendrerit. Aliquam
                      cursus arcu vel bibendum pulvinar.
                    </p>
                    <div class="row pt-2">
                      <div class="col-xl-6">
                        <ul class="faq-list">
                          <li>
                            <strong>01.</strong> Nullam eget mauris imperdiet
                            turpis.
                          </li>
                          <li>
                            <strong>02.</strong> lacus mi dictum urna, quis
                            cursus.
                          </li>
                        </ul>
                      </div>
                      <div class="col-xl-6">
                        <ul class="faq-list">
                          <li>
                            <strong>03.</strong> Sed feugiat sed erat sed
                            eleifend. Done velit.
                          </li>
                          <li>
                            <strong>04.</strong> augue dignissim Sed vel
                            molestie ligula.
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item faq-accordion">
                <h2 class="accordion-header" id="faq-headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq-collapseTwo"
                    aria-expanded="false"
                    aria-controls="faq-collapseTwo"
                  >
                    Aenean tempor ac odio ut placerat. Pellentesque ut?
                  </button>
                </h2>
                <div
                  id="faq-collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="faq-headingTwo"
                  data-bs-parent="#faq-accordion-example"
                >
                  <div class="accordion-body">
                    <p>
                      Duis rutrum nisl urna. Maecenas vel libero faucibus nisi
                      venenatis hendrerit a id lectus. Suspendissendt molestie
                      turpis nec lacinia vehicula. Quisque eget volutpat
                      purus. Aenean blandit magna maximus landi quam
                      facilisis, tempor porttitor elit hendrerit. Aliquam
                      cursus arcu vel bibendum pulvinar.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item faq-accordion">
                <h2 class="accordion-header" id="faq-headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq-collapseThree"
                    aria-expanded="false"
                    aria-controls="faq-collapseThree"
                  >
                    Donec ullamcorper dolor vel elit facilisis egestas?
                  </button>
                </h2>
                <div
                  id="faq-collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="faq-headingThree"
                  data-bs-parent="#faq-accordion-example"
                >
                  <div class="accordion-body">
                    <p>
                      Duis rutrum nisl urna. Maecenas vel libero faucibus nisi
                      venenatis hendrerit a id lectus. Suspendissendt molestie
                      turpis nec lacinia vehicula. Quisque eget volutpat
                      purus. Aenean blandit magna maximus landi quam
                      facilisis, tempor porttitor elit hendrerit. Aliquam
                      cursus arcu vel bibendum pulvinar.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item faq-accordion">
                <h2 class="accordion-header" id="faq-headingFour">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq-collapseFour"
                    aria-expanded="false"
                    aria-controls="faq-collapseFour"
                  >
                    Ut iaculis vulputate odio ac laoreet. Aliquam euontep
                    bunt?
                  </button>
                </h2>
                <div
                  id="faq-collapseFour"
                  class="accordion-collapse collapse"
                  aria-labelledby="faq-headingFour"
                  data-bs-parent="#faq-accordion-example"
                >
                  <div class="accordion-body">
                    <p>
                      Duis rutrum nisl urna. Maecenas vel libero faucibus nisi
                      venenatis hendrerit a id lectus. Suspendissendt molestie
                      turpis nec lacinia vehicula. Quisque eget volutpat
                      purus. Aenean blandit magna maximus landi quam
                      facilisis, tempor porttitor elit hendrerit. Aliquam
                      cursus arcu vel bibendum pulvinar.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item faq-accordion">
                <h2 class="accordion-header" id="faq-headingFive">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq-collapseFive"
                    aria-expanded="false"
                    aria-controls="faq-collapseFive"
                  >
                    Suspendisse convallis dui eget orci mollis?
                  </button>
                </h2>
                <div
                  id="faq-collapseFive"
                  class="accordion-collapse collapse"
                  aria-labelledby="faq-headingFive"
                  data-bs-parent="#faq-accordion-example"
                >
                  <div class="accordion-body">
                    <p>
                      Duis rutrum nisl urna. Maecenas vel libero faucibus nisi
                      venenatis hendrerit a id lectus. Suspendissendt molestie
                      turpis nec lacinia vehicula. Quisque eget volutpat
                      purus. Aenean blandit magna maximus landi quam
                      facilisis, tempor porttitor elit hendrerit. Aliquam
                      cursus arcu vel bibendum pulvinar.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="faq-sidebar mt-30">
            <div class="faq-topics">
              <h3>FAQ Topic</h3>
              <div class="radio-group">
                <input
                  class="form-check-input"
                  type="radio"
                  name="radioGroup"
                  id="radioGroup1"
                />
                <label class="form-check-label" for="radioGroup1">
                  General Question
                </label>
              </div>
              <div class="radio-group">
                <input
                  class="form-check-input"
                  type="radio"
                  name="radioGroup"
                  id="radioGroup2"
                  checked
                />
                <label class="form-check-label" for="radioGroup2">
                  Financial Topic
                </label>
              </div>
              <div class="radio-group">
                <input
                  class="form-check-input"
                  type="radio"
                  name="radioGroup"
                  id="radioGroup3"
                  checked
                />
                <label class="form-check-label" for="radioGroup3">
                  Privacy Policy
                </label>
              </div>
              <div class="radio-group">
                <input
                  class="form-check-input"
                  type="radio"
                  name="radioGroup"
                  id="radioGroup4"
                  checked
                />
                <label class="form-check-label" for="radioGroup4">
                  Other Questions
                </label>
              </div>
            </div>
            <form action="#" id="faq-form" method="post">
              <div class="faq-form">
                <h3>Ask Your Question</h3>
                <div class="custom-input-group">
                  <input type="text" placeholder="Your Name" id="name" />
                </div>
                <div class="custom-input-group">
                  <input type="text" placeholder="Your Email" id="email" />
                </div>
                <div class="custom-input-group">
                  <input type="tel" placeholder="Phone Number" id="phone" />
                </div>
                <div class="custom-input-group">
                  <textarea
                    cols="20"
                    rows="6"
                    placeholder="Your message"
                  ></textarea>
                </div>
                <div class="custom-input-group">
                  <div class="submite-btn">
                    <button type="submit">Submit Now</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('footer') %>