<%- include('header') %>
<div class="hero-area hero-style-one overflow-hidden">
    <div class="container-fluid p-0">
        <div class="swiper hero-slider-one">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="hero-single-slide">
                        <div class="hero-highlighted-bg">
                            <img src="assets/images/banner/bg-highlight1.png" alt="">
                        </div>
                        <div class="hero-content-bg">
                            <div class="hero-content position-relative">
                                <h2 class="hero-title">Travel & <span>Adventure</span></h2>
                                <p>Sed convallis sit amet leo quis feugiat. Nunc interdum mollis facilisis. feugi
                                    Donec id the urna aliquet, suscipit turpis ut Donec id urna aliquet, suscipit
                                    turpis ut, facilisis purus.Sed convallis sit amet leo quis .</p>
                                <div class="hero-btns">
                                    <a href="/package" class="button-fill-primary">View Adventure</a>
                                    <a href="/package" class="button-outlined-primary">Take A Tour</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="hero-single-slide">
                        <div class="hero-highlighted-bg">
                            <img src="assets/images/banner/bg-highlight2.png" alt="">
                        </div>
                        <div class="hero-content-bg">
                            <div class="hero-content position-relative">
                                <h2 class="hero-title"> Move The <span>Earth</span></h2>
                                <p>Sed convallis sit amet leo quis feugiat. Nunc interdum mollis facilisis. feugi
                                    Donec id the urna aliquet, suscipit turpis ut Donec id urna aliquet, suscipit
                                    turpis ut, facilisis purus.Sed convallis sit amet leo quis .</p>
                                <div class="hero-btns">
                                    <a href="/package" class="button-fill-primary">View Adventure</a>
                                    <a href="/package" class="button-outlined-primary">Take A Tour</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="hero-single-slide">
                        <div class="hero-highlighted-bg">
                            <img src="assets/images/banner/bg-highlight3.png" alt="">
                        </div>
                        <div class="hero-content-bg">
                            <div class="hero-content position-relative">
                                <h2 class="hero-title">Travel & <span>Adventure</span></h2>
                                <p>Sed convallis sit amet leo quis feugiat. Nunc interdum mollis facilisis. feugi
                                    Donec id the urna aliquet, suscipit turpis ut Donec id urna aliquet, suscipit
                                    turpis ut, facilisis purus.Sed convallis sit amet leo quis .</p>
                                <div class="hero-btns">
                                    <a href="/package" class="button-fill-primary">View Adventure</a>
                                    <a href="/package" class="button-outlined-primary">Take A Tour</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-arrows text-center d-lg-flex d-none">
        <div class="hero-prev" tabindex="0" role="button" aria-label="Previous slide"> <i
                class="bi bi-arrow-left"></i> Prev </div>
        <div class="hero-next" tabindex="0" role="button" aria-label="Next slide">Next <i
                class="bi bi-arrow-right"></i></div>
    </div>
    <div class="hero-pagination d-block w-auto">
    </div>
</div>


<div class="package-area package-style-one pt-110 ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="section-head-alpha">
                    <h2>Popular Tour Package</h2>
                    <p>Duis rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis hendrerit a id lectus.
                        Suspendissendt
                        blandit interdum. Sed pellentesque at nunc eget consectetur.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="package-btn text-lg-end">
                    <a href="/package" class="button-fill-primary">View All Tour</a>
                </div>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6">
                <div class="package-card-alpha">
                    <div class="package-thumb">
                        <a href="/package-details"><img src="assets/images/package/p-alpha1.png" alt=""></a>
                        <p class="card-lavel">
                            <i class="bi bi-clock"></i> <span>2 Day & 1 night</span>
                        </p>
                    </div>
                    <div class="package-card-body">
                        <h3 class="p-card-title"><a href="package-details">Etiam placerat dictum consequat an
                                Pellentesque habitant morbi.</a></h3>
                        <div class="p-card-bottom">
                            <div class="book-btn">
                                <a href="/package-details">Book Now <i class='bx bxs-right-arrow-alt'></i></a>
                            </div>
                            <div class="p-card-info">
                                <span>From</span>
                                <h6>$39.00 <span>Per Person</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="package-card-alpha">
                    <div class="package-thumb">
                        <a href="/package-details"><img src="assets/images/package/p-alpha2.png" alt=""></a>
                        <p class="card-lavel">
                            <i class="bi bi-clock"></i> <span>4 Day & 3 night</span>
                        </p>
                    </div>
                    <div class="package-card-body">
                        <h3 class="p-card-title"><a href="package-details">varius condimentum consequat frin
                                Aenean pretium risus eu.</a></h3>
                        <div class="p-card-bottom">
                            <div class="book-btn">
                                <a href="/package-details">Book Now <i class='bx bxs-right-arrow-alt'></i></a>
                            </div>
                            <div class="p-card-info">
                                <span>From</span>
                                <h6>$66.00 <span>Per Person</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-card-alpha">
                    <div class="package-thumb">
                        <a href="/package-details"><img src="assets/images/package/p-alpha3.png" alt=""></a>
                        <p class="card-lavel">
                            <i class="bi bi-clock"></i> <span>8 Day & 7 night</span>
                        </p>
                    </div>
                    <div class="package-card-body">
                        <h3 class="p-card-title"><a href="/package-details">Praesent sed elit mi. In risus
                                nullaam
                                efficitur non elementum eget.</a></h3>
                        <div class="p-card-bottom">
                            <div class="book-btn">
                                <a href="/package-details">Book Now <i class='bx bxs-right-arrow-alt'></i></a>
                            </div>
                            <div class="p-card-info">
                                <span>From</span>
                                <h6>$98.00 <span>Per Person</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-card-alpha">
                    <div class="package-thumb">
                        <a href="/package-details"><img src="assets/images/package/p-alpha4.png" alt=""></a>
                        <p class="card-lavel">
                            <i class="bi bi-clock"></i> <span>2 Day & 2 night</span>
                        </p>
                    </div>
                    <div class="package-card-body">
                        <h3 class="p-card-title">
                            <a href="/package-details">Sed ultricies sapien arcu, sed cong
                                feugiat sapien dignissim id. </a></h3>
                        <div class="p-card-bottom">
                            <div class="book-btn">
                                <a href="/package-details">Book Now <i class='bx bxs-right-arrow-alt'></i></a>
                            </div>
                            <div class="p-card-info">
                                <span>From</span>
                                <h6>$29.00 <span>Per Person</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-card-alpha">
                    <div class="package-thumb">
                        <a href="/package-details"><img src="assets/images/package/p-alpha5.png" alt=""></a>
                        <p class="card-lavel">
                            <i class="bi bi-clock"></i> <span>3 Day & 2 night</span>
                        </p>
                    </div>
                    <div class="package-card-body">
                        <h3 class="p-card-title">
                            <a href="/package-details">Pellentesque habitant morbi malesua
                                tristique senectus et netus et.</a></h3>
                        <div class="p-card-bottom">
                            <div class="book-btn">
                                <a href="/package-details">Book Now <i class='bx bxs-right-arrow-alt'></i></a>
                            </div>
                            <div class="p-card-info">
                                <span>From</span>
                                <h6>$88.00 <span>Per Person</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-card-alpha">
                    <div class="package-thumb">
                        <a href="/package-details"><img src="assets/images/package/p-alpha6.png" alt=""></a>
                        <p class="card-lavel">
                            <i class="bi bi-clock"></i> <span>4 Day & 3 night</span>
                        </p>
                    </div>
                    <div class="package-card-body">
                        <h3 class="p-card-title"><a href="/package-details">San Francisco Golden Gate Bridge,
                                cable cars & fog.</a></h3>
                        <div class="p-card-bottom">
                            <div class="book-btn">
                                <a href="/package-details">Book Now <i class='bx bxs-right-arrow-alt'></i></a>
                            </div>
                            <div class="p-card-info">
                                <span>From</span>
                                <h6>$67.00 <span>Per Person</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="destination-area destination-style-one pt-110 ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="section-head-alpha">
                    <h2>Explore Top Destination</h2>
                    <p>Duis rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis hendrerit a id lectus.
                        Suspendissendt
                        blandit interdum. Sed pellentesque at nunc eget consectetur..</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="slider-arrows text-center d-lg-flex d-none justify-content-end mb-3">
                    <div class="testi-prev custom-swiper-prev" tabindex="0" role="button"
                        aria-label="Previous slide"> <i class="bi bi-chevron-left"></i> </div>
                    <div class="testi-next custom-swiper-next" tabindex="0" role="button" aria-label="Next slide"><i
                            class="bi bi-chevron-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0 overflow-hidden">
        <div class="swiper destination-slider-one">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="destination-card-style-one">
                        <div class="d-card-thumb">
                            <a href="/destination-details"><img src="assets/images/destination/dest-4.png"
                                    alt=""></a>
                        </div>
                        <div class="d-card-overlay">
                            <div class="d-card-content">
                                <h3 class="d-card-title"><a href="/destination-details">Hamburg</a></h3>
                                <div class="d-card-info">
                                    <div class="place-count"><span>25</span> Place</div>
                                    <div class="hotel-count"><span>35</span> Hotel</div>
                                </div>
                                <ul class="d-rating">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="destination-card-style-one">
                        <div class="d-card-thumb">
                            <a href="/destination-details"><img src="assets/images/destination/dest-2.png"
                                    alt=""></a>
                        </div>
                        <div class="d-card-overlay">
                            <div class="d-card-content">
                                <h3 class="d-card-title"><a href="/destination-details">Nuremberg</a></h3>
                                <div class="d-card-info">
                                    <div class="place-count"><span>22</span> Place</div>
                                    <div class="hotel-count"><span>05</span> Hotel</div>
                                </div>
                                <ul class="d-rating">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="destination-card-style-one">
                        <div class="d-card-thumb">
                            <a href="#"><img src="assets/images/destination/dest-3.png" alt=""></a>
                        </div>
                        <div class="d-card-overlay">
                            <div class="d-card-content">
                                <h3 class="d-card-title"><a href="/destination-details">Wiesbaden</a></h3>
                                <div class="d-card-info">
                                    <div class="place-count"><span>17</span> Place</div>
                                    <div class="hotel-count"><span>20</span> Hotel</div>
                                </div>
                                <ul class="d-rating">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="destination-card-style-one">
                        <div class="d-card-thumb">
                            <a href="//destination-details"><img src="assets/images/destination/dest-4.png"
                                    alt=""></a>
                        </div>
                        <div class="d-card-overlay">
                            <div class="d-card-content">
                                <h3 class="d-card-title"><a href="/destination-details">Augsburg</a></h3>
                                <div class="d-card-info">
                                    <div class="place-count"><span>16</span> Place</div>
                                    <div class="hotel-count"><span>19</span> Hotel</div>
                                </div>
                                <ul class="d-rating">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="destination-card-style-one">
                        <div class="d-card-thumb">
                            <a href="/destination-details"><img src="assets/images/destination/dest-2.png"
                                    alt=""></a>
                        </div>
                        <div class="d-card-overlay">
                            <div class="d-card-content">
                                <h3 class="d-card-title"><a href="/destination-details">Dusseldorf</a></h3>
                                <div class="d-card-info">
                                    <div class="place-count"><span>25</span> Place</div>
                                    <div class="hotel-count"><span>35</span> Hotel</div>
                                </div>
                                <ul class="d-rating">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="newslatter-wrapper mt-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="newslatter-side text-center text-lg-start mx-auto mx-lg-0">
                    <h2>Subscribe Our <span>Newsletter</span></h2>
                    <p>Sign up to receive the best offers on promotion and
                        coupons. Don’t worry! It’s not Spam</p>
                    <form action="#" method="post" id="newslatter-form">
                        <div class="newslatter-form-input">
                            <input type="text" name="newslatter" id="newslatter-input" placeholder="Email Here...">
                            <button type="submit" class="newslatter-submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="achievement-counter-side">
                    <div class="row g-4">
                        <div class="col-lg-6  col-md-6">
                            <div class="achievement-box-style-one">
                                <div class="achievement-icon">
                                    <img src="assets/images/icons/counter-icon2.svg" alt="">
                                </div>
                                <div class="achievement-box-content">
                                    <h2>500+</h2>
                                    <h4>Awesome Tour</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6  col-md-6">
                            <div class="achievement-box-style-one">
                                <div class="achievement-icon">
                                    <img src="assets/images/icons/counter-icon3.svg" alt="">
                                </div>
                                <div class="achievement-box-content">
                                    <h2>300+</h2>
                                    <h4>New Destinations</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6  col-md-6">
                            <div class="achievement-box-style-one">
                                <div class="achievement-icon">
                                    <img src="assets/images/icons/counter-icon1.svg" alt="">
                                </div>
                                <div class="achievement-box-content">
                                    <h2>05+</h2>
                                    <h4>Years Experience</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6  col-md-6">
                            <div class="achievement-box-style-one">
                                <div class="achievement-icon">
                                    <img src="assets/images/icons/counter-icon4.svg" alt="">
                                </div>
                                <div class="achievement-box-content">
                                    <h2>150+</h2>
                                    <h4>Best Mountains</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="package-area package-style-one pt-110 ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-head-alpha text-center mx-auto">
                    <h2>Choose Holiday Offer</h2>
                    <p>Duis rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis hendrerit a id lectus.
                        Suspendissendt
                        blandit interdum. Sed pellentesque at nunc eget consectetur.</p>
                </div>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6">
                <div class="package-card-alpha">
                    <div class="package-thumb">
                        <a href="/package-details"><img src="assets/images/package/p-alpha1.png" alt=""></a>
                        <p class="card-lavel">
                            <i class="bi bi-clock"></i> <span>5 Day & 6 night</span>
                        </p>
                    </div>
                    <div class="package-card-body">
                        <h3 class="p-card-title"><a href="/package-details">Etiam placerat dictum consequat an
                                Pellentesque habitant morbi.</a></h3>
                        <div class="p-card-bottom">
                            <div class="book-btn">
                                <a href="/package-details">Book Now <i class='bx bxs-right-arrow-alt'></i></a>
                            </div>
                            <div class="p-card-info">
                                <span>From</span>
                                <h6>$79.00 <span>Per Person</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="package-card-alpha">
                    <div class="package-thumb">
                        <a href="/package-details"><img src="assets/images/package/p-alpha2.png" alt=""></a>
                        <p class="card-lavel">
                            <i class="bi bi-clock"></i> <span>3 Day & 2 night</span>
                        </p>
                    </div>
                    <div class="package-card-body">
                        <h3 class="p-card-title"><a href="/package-details">varius condimentum consequat frin
                                Aenean pretium risus eu.</a></h3>
                        <div class="p-card-bottom">
                            <div class="book-btn">
                                <a href="/package-details">Book Now <i class='bx bxs-right-arrow-alt'></i></a>
                            </div>
                            <div class="p-card-info">
                                <span>From</span>
                                <h6>$91.00 <span>Per Person</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-card-alpha">
                    <div class="package-thumb">
                        <a href="/package-details"><img src="assets/images/package/p-alpha3.png" alt=""></a>
                        <p class="card-lavel">
                            <i class="bi bi-clock"></i> <span>4 Day & 3 night</span>
                        </p>
                    </div>
                    <div class="package-card-body">
                        <h3 class="p-card-title"><a href="/package-details">Praesent sed elit mi. In risus
                                nullaam
                                efficitur non elementum eget.</a></h3>
                        <div class="p-card-bottom">
                            <div class="book-btn">
                                <a href="/package-details">Book Now <i class='bx bxs-right-arrow-alt'></i></a>
                            </div>
                            <div class="p-card-info">
                                <span>From</span>
                                <h6>$49.00 <span>Per Person</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-card-alpha">
                    <div class="package-thumb">
                        <a href="/package-details"><img src="assets/images/package/p-alpha4.png" alt=""></a>
                        <p class="card-lavel">
                            <i class="bi bi-clock"></i> <span>3 Day & 2 night</span>
                        </p>
                    </div>
                    <div class="package-card-body">
                        <h3 class="p-card-title"><a href="/package-details">Sed ultricies sapien arcu, sed cong
                                feugiat sapien dignissim id. </a></h3>
                        <div class="p-card-bottom">
                            <div class="book-btn">
                                <a href="/package-details">Book Now <i class='bx bxs-right-arrow-alt'></i></a>
                            </div>
                            <div class="p-card-info">
                                <span>From</span>
                                <h6>$98.00 <span>Per Person</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-card-alpha">
                    <div class="package-thumb">
                        <a href="/package-details"><img src="assets/images/package/p-alpha5.png" alt=""></a>
                        <p class="card-lavel">
                            <i class="bi bi-clock"></i> <span>5 Day & 6 night</span>
                        </p>
                    </div>
                    <div class="package-card-body">
                        <h3 class="p-card-title"><a href="/package-details">Pellentesque habitant morbi malesua
                                tristique senectus et netus et.</a></h3>
                        <div class="p-card-bottom">
                            <div class="book-btn">
                                <a href="/package-details">Book Now <i class='bx bxs-right-arrow-alt'></i></a>
                            </div>
                            <div class="p-card-info">
                                <span>From</span>
                                <h6>$78.00 <span>Per Person</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-card-alpha">
                    <div class="package-thumb">
                        <a href="/package-details"><img src="assets/images/package/p-alpha6.png" alt=""></a>
                        <p class="card-lavel">
                            <i class="bi bi-clock"></i> <span>3 Day & 2 night</span>
                        </p>
                    </div>
                    <div class="package-card-body">
                        <h3 class="p-card-title"><a href="/package-details">San Francisco Golden Gate Bridge,
                                cable cars & fog.</a></h3>
                        <div class="p-card-bottom">
                            <div class="book-btn">
                                <a href="/package-details">Book Now <i class='bx bxs-right-arrow-alt'></i></a>
                            </div>
                            <div class="p-card-info">
                                <span>From</span>
                                <h6>$71.00 <span>Per Person</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="package-bottom-btn">
                <a href="/package" class="button-fill-primary">View All Offer</a>
            </div>
        </div>
    </div>
</div>


<div class="gallary-area gallary-style-one pt-110">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-head-alpha section-padding-15 text-center mx-auto">
                    <h2>Travel Gallery</h2>
                    <p>Duis rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis hendrerit a id lectus.
                        Suspendissendt
                        blandit interdum. Sed pellentesque at nunc eget consectetur.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="gallary-item">
                    <img src="assets/images/gallary/g-xl1.png" alt="Image Gallery">
                    <a class="gallary-item-overlay" data-fancybox="gallery" data-caption="Caption Here"
                        href="assets/images/gallary/g-xl1.png">
                        <i class="bi bi-eye"></i>
                    </a>
                </div>
                <div class="gallary-item">
                    <img src="assets/images/gallary/g-md1.png" alt="Image Gallery">
                    <a class="gallary-item-overlay" data-fancybox="gallery" data-caption="Caption Here"
                        href="assets/images/gallary/g-md1.png">
                        <i class="bi bi-eye"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="gallary-item">
                    <img src="assets/images/gallary/g-sm1.png" alt="Image Gallery">
                    <a class="gallary-item-overlay" data-fancybox="gallery" data-caption="Caption Here"
                        href="assets/images/gallary/g-sm1.png">
                        <i class="bi bi-eye"></i>
                    </a>
                </div>
                <div class="gallary-item">
                    <img src="assets/images/gallary/g-sm2.png" alt="Image Gallery">
                    <a class="gallary-item-overlay" data-fancybox="gallery" data-caption="Caption Here"
                        href="assets/images/gallary/g-sm2.png">
                        <i class="bi bi-eye"></i>
                    </a>
                </div>
                <div class="gallary-item">
                    <img src="assets/images/gallary/g-md2.png" alt="Image Gallery">
                    <a class="gallary-item-overlay" data-fancybox="gallery" data-caption="Caption Here"
                        href="assets/images/gallary/g-md2.png">
                        <i class="bi bi-eye"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="gallary-item">
                    <img src="assets/images/gallary/g-xl2.png" alt="Image Gallery">
                    <a class="gallary-item-overlay" data-fancybox="gallery" data-caption="Caption Here"
                        href="assets/images/gallary/g-xl2.png">
                        <i class="bi bi-eye"></i>
                    </a>
                </div>
                <div class="gallary-item">
                    <img src="assets/images/gallary/g-md3.png" alt="Image Gallery">
                    <a class="gallary-item-overlay" data-fancybox="gallery" data-caption="Caption Here"
                        href="assets/images/gallary/g-md3.png">
                        <i class="bi bi-eye"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="testimonial-area testimonial-style-one mt-120">
    <div class="testimonial-shape-group"></div>
    <div class="container position-relative">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="section-head-alpha">
                    <h2>What Our Client Say About Us</h2>
                    <p>Duis rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis hendrerit a id lectus.
                        Suspendissendt
                        blandit interdum. Sed pellentesque at nunc eget consectetur.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="slider-arrows text-center d-lg-flex d-none justify-content-end mb-3">
                    <div class="testi-prev custom-swiper-prev" tabindex="0" role="button"
                        aria-label="Previous slide"> <i class="bi bi-chevron-left"></i> </div>
                    <div class="testi-next custom-swiper-next" tabindex="0" role="button" aria-label="Next slide"><i
                            class="bi bi-chevron-right"></i></div>
                </div>
            </div>
        </div>
        <div class="swiper testimonial-slider-one position-relative">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-card testimonial-card-alpha">
                        <div class="testimonial-overlay-img">
                            <img src="assets/images/reviewer/reviewer-1.png" alt="">
                        </div>
                        <div class="testimonial-card-top">
                            <div class="qoute-icon"><i class='bx bxs-quote-left'></i></div>
                            <div class="testimonial-thumb"><img src="assets/images/reviewer/r-sm1.png" alt=""></div>
                            <h3 class="testimonial-count">01</h3>
                        </div>
                        <div class="testimonial-body">
                            <p>Duis rutrum nisl urna. Maecenas vel libero this
                                faucibus nisi venenatis hendrerit a id lectus.P
                                Suspendissendt molestie turpis nec laciniane
                                vehicula volutpat purus.</p>
                            <div class="testimonial-bottom">
                                <div class="reviewer-info">
                                    <h4 class="reviewer-name">Shwan Pull</h4>
                                    <h6>Traveller</h6>
                                </div>
                                <ul class="testimonial-rating">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-card testimonial-card-alpha">
                        <div class="testimonial-overlay-img">
                            <img src="assets/images/reviewer/reviewer-1.png" alt="">
                        </div>
                        <div class="testimonial-card-top">
                            <div class="qoute-icon"><i class='bx bxs-quote-left'></i></div>
                            <div class="testimonial-thumb"><img src="assets/images/reviewer/r-sm2.png" alt=""></div>
                            <h3 class="testimonial-count">02</h3>
                        </div>
                        <div class="testimonial-body">
                            <p>Duis rutrum nisl urna. Maecenas vel libero this
                                faucibus nisi venenatis hendrerit a id lectus.P
                                Suspendissendt molestie turpis nec laciniane
                                vehicula volutpat purus.</p>
                            <div class="testimonial-bottom">
                                <div class="reviewer-info">
                                    <h4 class="reviewer-name">Adam Groff</h4>
                                    <h6>Traveller</h6>
                                </div>
                                <ul class="testimonial-rating">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-card testimonial-card-alpha">
                        <div class="testimonial-overlay-img">
                            <img src="assets/images/reviewer/reviewer-1.png" alt="">
                        </div>
                        <div class="testimonial-card-top">
                            <div class="qoute-icon"><i class='bx bxs-quote-left'></i></div>
                            <div class="testimonial-thumb"><img src="assets/images/reviewer/r-sm3.png" alt=""></div>
                            <h3 class="testimonial-count">03</h3>
                        </div>
                        <div class="testimonial-body">
                            <p>Duis rutrum nisl urna. Maecenas vel libero this
                                faucibus nisi venenatis hendrerit a id lectus.P
                                Suspendissendt molestie turpis nec laciniane
                                vehicula volutpat purus.</p>
                            <div class="testimonial-bottom">
                                <div class="reviewer-info">
                                    <h4 class="reviewer-name">Lilyan Danclark</h4>
                                    <h6>Traveller</h6>
                                </div>
                                <ul class="testimonial-rating">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="guide-area guide-style-one pt-110">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-head-alpha text-center mx-auto">
                    <h2>Tour Guide</h2>
                    <p>Duis rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis hendrerit a id lectus.
                        Suspendissendt
                        blandit interdum. Sed pellentesque at nunc eget consectetur.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="guide-card-alpha">
                    <div class="guide-image">
                        <img src="assets/images/guide/guide-md3.png" alt="">
                        <ul class="guide-social-links">
                            <li><a href="#"><i class='bx bxl-instagram'></i></a></li>
                            <li><a href="#"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#"><i class='bx bxl-whatsapp'></i></a></li>
                        </ul>
                    </div>
                    <div class="guide-content">
                        <h4 class="guide-name">Marvin McKinney</h4>
                        <h6 class="guide-designation">Tour Guide</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="guide-card-alpha">
                    <div class="guide-image">
                        <img src="assets/images/guide/guide-m2.png" alt="">
                        <ul class="guide-social-links">
                            <li><a href="#"><i class='bx bxl-instagram'></i></a></li>
                            <li><a href="#"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#"><i class='bx bxl-whatsapp'></i></a></li>
                        </ul>
                    </div>
                    <div class="guide-content">
                        <h4 class="guide-name">Charlotte
                            Sophia</h4>
                        <h6 class="guide-designation">Tour Guide</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="guide-card-alpha">
                    <div class="guide-image">
                        <img src="assets/images/guide/guide-md1.png" alt="">
                        <ul class="guide-social-links">
                            <li><a href="#"><i class='bx bxl-instagram'></i></a></li>
                            <li><a href="#"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#"><i class='bx bxl-whatsapp'></i></a></li>
                        </ul>
                    </div>
                    <div class="guide-content">
                        <h4 class="guide-name">Brooklyn Simmons</h4>
                        <h6 class="guide-designation">Tour Guide</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="blog-area blog-style-one pt-110  ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-head-alpha text-center mx-auto">
                    <h2>Latest News</h2>
                    <p>Duis rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis hendrerit a id lectus.
                        Suspendissendt
                        blandit interdum. Sed pellentesque at nunc eget consectetur.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog-card-alpha">
                    <div class="blog-thumb">
                        <a href="blog-details">
                            <img src="assets/images/blog/blog-md-1.png" alt="">
                        </a>
                        <div class="blog-lavel">
                            <a href="#"><i class="bi bi-calendar3"></i> Novembar 16, 2021</a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-body-top">
                            <a href="#" class="blog-writer"><i class="bi bi-person-circle"></i> By John Smith </a>
                            <a href="#" class="blog-comments"><i class="bi bi-chat-dots-fill"></i> Comment (08)</a>
                        </div>
                        <h4 class="blog-title"><a href="blog-details">Mauris commodo massa vel diamnat
                                feugiat sagittis Nunc maxim.</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card-alpha">
                    <div class="blog-thumb">
                        <a href="blog-details">
                            <img src="assets/images/blog/blog-md-2.png" alt="">
                        </a>
                        <div class="blog-lavel">
                            <a href="#"><i class="bi bi-calendar3"></i> Novembar 16, 2021</a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-body-top">
                            <a href="#" class="blog-writer"><i class="bi bi-person-circle"></i> By John Smith </a>
                            <a href="#" class="blog-comments"><i class="bi bi-chat-dots-fill"></i> Comment (08)</a>
                        </div>
                        <h4 class="blog-title"><a href="blog-details">In tristique ultrices odio quis gravida.
                                Pellentesque euismod.</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card-alpha">
                    <div class="blog-thumb">
                        <a href="blog-details">
                            <img src="assets/images/blog/blog-md-3.png" alt="">
                        </a>
                        <div class="blog-lavel">
                            <a href="#"><i class="bi bi-calendar3"></i> Novembar 16, 2021</a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-body-top">
                            <a href="#" class="blog-writer"><i class="bi bi-person-circle"></i> By John Smith </a>
                            <a href="#" class="blog-comments"><i class="bi bi-chat-dots-fill"></i> Comment (08)</a>
                        </div>
                        <h4 class="blog-title"><a href="blog-details">consequat lacus libero et leo Viva ac
                                sapien dui ultrices bibendum.</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer') %>