<%- include('header') %>
<div class="hero-area hero-style-two">
    <div class="container">
      <div class="multi-main-searchber">
        <div class="row g-4">
          <div class="col-lg-10">
            <div class="row gx-0 gy-4">
              <div class="col-lg-3 col-md-6">
                <div class="search-box-single destination-box">
                  <div class="searchbox-icon">
                    <i class="bi bi-geo-alt"></i>
                  </div>
                  <div class="searchbox-input">
                    <label for="deatination_drop">Destination</label>
                    <select
                      data-placeholder="Where Are You Going?"
                      id="deatination_drop"
                    >
                      <option value="">Where Are You Going?</option>
                      <optgroup label="India">
                        <option>Solt Lake</option>
                        <option>Kolkata</option>
                        <option>Mohamia</option>
                        <option>Mumbai</option>
                        <option>New Delhi</option>
                      </optgroup>
                      <optgroup label=" Bangladash">
                        <option>Cox's Bazer</option>
                        <option>Rangamati</option>
                        <option>Banderban</option>
                      </optgroup>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="search-box-single type-box">
                  <div class="searchbox-icon">
                    <i class="bi bi-text-paragraph"></i>
                  </div>
                  <div class="searchbox-input">
                    <label for="activity-dropdown">Travel Type</label>
                    <select
                      class="defult-select-drowpown"
                      data-placeholder="All Activity"
                      id="activity-dropdown"
                    >
                      <option value="">All Activity</option>
                      <option value="1">Type 1</option>
                      <option value="2">Type 2</option>
                      <option value="3">Type 3</option>
                      <option value="4">Type 4</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="search-box-single type-box">
                  <div class="searchbox-icon">
                    <i class="bi bi-person-plus"></i>
                  </div>
                  <div class="searchbox-input">
                    <label for="person-dropdown">Person</label>
                    <select
                      class="defult-select-drowpown"
                      id="person-dropdown"
                    >
                      <option selected value="0">01</option>
                      <option value="1">02</option>
                      <option value="2">03</option>
                      <option value="3">04</option>
                      <option value="4">05</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="search-box-single date-box">
                  <div class="searchbox-icon">
                    <i class="bi bi-capslock"></i>
                  </div>
                  <div class="searchbox-input date-picker-input">
                    <label for="datepicker">When</label>
                    <input
                      placeholder="Select your date"
                      type="text"
                      name="checkIn"
                      id="datepicker"
                      value=""
                      class="calendar"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="main-form-submit">
              <button type="submit">Find Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-main-wrapper position-relative">
      <div class="swiper hero-slider-two">
        <div class="swiper-wrapper">
          <div class="swiper-slide single-hero-slide">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6">
                  <div class="hero-content">
                    <h5 class="featured-location">
                      <i class="bi bi-geo-alt"></i> Mount Dtna, Italy
                    </h5>
                    <h2 class="hero-title">
                      Most <span>Attractive</span> Travel Places
                    </h2>
                    <h3 class="featured-price">
                      $250.00 /<span>Person</span>
                    </h3>
                    <p>
                      Sed convallis sit amet leo quis feugiat. Nunc interdum
                      mollis facilisis. Donec id the urna aliquet, suscipit
                      turpis ut Donec id urna aliquet, suscipit turpis ut,
                      facilisis purus.Sed convallis sit amet leo quis feugiat.
                    </p>
                    <div class="hero-btns">
                      <a href="package-sidebar.html" class="button-fill-round"
                        >Book Now</a
                      >
                      <a href="package-details.html" class="button-fill-round"
                        >View Details</a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="hero-image-group">
                    <img
                      src="assets/images/banner/hero2-image-group.png"
                      alt=""
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide single-hero-slide">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6">
                  <div class="hero-content">
                    <h5 class="featured-location">
                      <i class="bi bi-geo-alt"></i> Mount Dtna, Italy
                    </h5>

                    <div class="hero-title">
                      Travel far enough, you meet <span>YOURSELF.</span>
                    </div>
                    <h3 class="featured-price">
                      $250.00 /<span>Person</span>
                    </h3>
                    <p>
                      Sed convallis sit amet leo quis feugiat. Nunc interdum
                      mollis facilisis. Donec id the urna aliquet, suscipit
                      turpis ut Donec id urna aliquet, suscipit turpis ut,
                      facilisis purus.Sed convallis sit amet leo quis feugiat.
                    </p>
                    <div class="hero-btns">
                      <a href="package-sidebar.html" class="button-fill-round"
                        >Book Now</a
                      >
                      <a href="package-details.html" class="button-fill-round"
                        >View Details</a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="hero-image-group">
                    <img
                      src="assets/images/banner/hero2-image-group2.png"
                      alt=""
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide single-hero-slide">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6">
                  <div class="hero-content">
                    <h5 class="featured-location">
                      <i class="bi bi-geo-alt"></i> Mount Dtna, Italy
                    </h5>
                    <h2 class="hero-title">
                      Most <span>Attractive</span> Travel Places
                    </h2>
                    <h3 class="featured-price">
                      $250.00 /<span>Person</span>
                    </h3>
                    <p>
                      Sed convallis sit amet leo quis feugiat. Nunc interdum
                      mollis facilisis. Donec id the urna aliquet, suscipit
                      turpis ut Donec id urna aliquet, suscipit turpis ut,
                      facilisis purus.Sed convallis sit amet leo quis feugiat.
                    </p>
                    <div class="hero-btns">
                      <a href="package-sidebar.html" class="button-fill-round"
                        >Book Now</a
                      >
                      <a href="package-details.html" class="button-fill-round"
                        >View Details</a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="hero-image-group">
                    <img
                      src="assets/images/banner/hero2-image-group3.png"
                      alt=""
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="hero-two-pagination d-lg-inline-flex flex-column d-none w-auto"
      ></div>
    </div>
  </div>

  <div class="package-area package-style-two pt-110">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="section-head-gamma">
            <h2>Choose Your Package</h2>
          </div>
        </div>
      </div>
      <div class="row g-4">
        <div class="col-lg-4 col-md-6">
          <div class="package-card-alpha">
            <div class="package-thumb">
              <a href="package-details.html"
                ><img src="assets/images/package/p-alpha1.png" alt=""
              /></a>
              <p class="card-lavel">
                <i class="bi bi-clock"></i> <span>3 Day & 2 night</span>
              </p>
            </div>
            <div class="package-card-body">
              <h3 class="p-card-title">
                <a href="package-details.html"
                  >Etiam placerat dictum consequat an Pellentesque habitant
                  morbi.</a
                >
              </h3>
              <div class="p-card-bottom">
                <div class="book-btn">
                  <a href="package-details.html"
                    >Book Now <i class="bx bxs-right-arrow-alt"></i
                  ></a>
                </div>
                <div class="p-card-info">
                  <span>From</span>
                  <h6>$79.00 <span>Per Person</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="package-card-alpha">
            <div class="package-thumb">
              <a href="package-details.html"
                ><img src="assets/images/package/p-alpha2.png" alt=""
              /></a>
              <p class="card-lavel">
                <i class="bi bi-clock"></i> <span>5 Day & 6 night</span>
              </p>
            </div>
            <div class="package-card-body">
              <h3 class="p-card-title">
                <a href="package-details.html"
                  >varius condimentum consequat frin Aenean pretium risus
                  eu.</a
                >
              </h3>
              <div class="p-card-bottom">
                <div class="book-btn">
                  <a href="package-details.html"
                    >Book Now <i class="bx bxs-right-arrow-alt"></i
                  ></a>
                </div>
                <div class="p-card-info">
                  <span>From</span>
                  <h6>$67.00 <span>Per Person</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="package-card-alpha">
            <div class="package-thumb">
              <a href="package-details.html"
                ><img src="assets/images/package/p-alpha3.png" alt=""
              /></a>
              <p class="card-lavel">
                <i class="bi bi-clock"></i> <span>4 Day & 3 night</span>
              </p>
            </div>
            <div class="package-card-body">
              <h3 class="p-card-title">
                <a href="package-details.html"
                  >Praesent sed elit mi. In risus nullaam efficitur non
                  elementum eget.</a
                >
              </h3>
              <div class="p-card-bottom">
                <div class="book-btn">
                  <a href="package-details.html"
                    >Book Now <i class="bx bxs-right-arrow-alt"></i
                  ></a>
                </div>
                <div class="p-card-info">
                  <span>From</span>
                  <h6>$88.00 <span>Per Person</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="package-card-alpha">
            <div class="package-thumb">
              <a href="package-details.html"
                ><img src="assets/images/package/p-alpha4.png" alt=""
              /></a>
              <p class="card-lavel">
                <i class="bi bi-clock"></i> <span>5 Day & 6 night</span>
              </p>
            </div>
            <div class="package-card-body">
              <h3 class="p-card-title">
                <a href="package-details.html"
                  >Sed ultricies sapien arcu, sed cong feugiat sapien
                  dignissim id.
                </a>
              </h3>
              <div class="p-card-bottom">
                <div class="book-btn">
                  <a href="package-details.html"
                    >Book Now <i class="bx bxs-right-arrow-alt"></i
                  ></a>
                </div>
                <div class="p-card-info">
                  <span>From</span>
                  <h6>$91.00 <span>Per Person</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="package-card-alpha">
            <div class="package-thumb">
              <a href="package-details.html"
                ><img src="assets/images/package/p-alpha5.png" alt=""
              /></a>
              <p class="card-lavel">
                <i class="bi bi-clock"></i> <span>4 Day & 3 night</span>
              </p>
            </div>
            <div class="package-card-body">
              <h3 class="p-card-title">
                <a href="package-details.html"
                  >Pellentesque habitant morbi malesua tristique senectus et
                  netus et.</a
                >
              </h3>
              <div class="p-card-bottom">
                <div class="book-btn">
                  <a href="package-details.html"
                    >Book Now <i class="bx bxs-right-arrow-alt"></i
                  ></a>
                </div>
                <div class="p-card-info">
                  <span>From</span>
                  <h6>$67.00 <span>Per Person</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="package-card-alpha">
            <div class="package-thumb">
              <a href="package-details.html"
                ><img src="assets/images/package/p-alpha6.png" alt=""
              /></a>
              <p class="card-lavel">
                <i class="bi bi-clock"></i> <span>3 Day & 2 night</span>
              </p>
            </div>
            <div class="package-card-body">
              <h3 class="p-card-title">
                <a href="package-details.html"
                  >San Francisco Golden Gate Bridge, cable cars & fog.</a
                >
              </h3>
              <div class="p-card-bottom">
                <div class="book-btn">
                  <a href="package-details.html"
                    >Book Now <i class="bx bxs-right-arrow-alt"></i
                  ></a>
                </div>
                <div class="p-card-info">
                  <span>From</span>
                  <h6>$67.00 <span>Per Person</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="package-page-btn text-center mt-60">
        <a href="package.html" class="button-fill-round">View All</a>
      </div>
    </div>
  </div>

  <div class="destination-area destination-style-two pt-110">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-head-gamma">
            <h2>Top Destination</h2>
          </div>
        </div>
      </div>
      <div class="swiper destination-slider-two">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="destination-card-style-two">
              <div class="d-card-thumb">
                <img src="assets/images/destination/des-sm1.png" alt="" />
              </div>
              <div class="d-card-content">
                <h4 class="destination-title">
                  <a href="destination-details.html">Hamburg</a>
                </h4>
                <div class="place-count"><span>45</span> Place</div>
              </div>
            </div>
            <div class="destination-card-style-two">
              <div class="d-card-thumb">
                <img src="assets/images/destination/des-sm2.png" alt="" />
              </div>
              <div class="d-card-content">
                <h4 class="destination-title">
                  <a href="destination-details.html">Düsseldorf</a>
                </h4>
                <div class="place-count"><span>45</span> Place</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="destination-card-style-two">
              <div class="d-card-thumb">
                <img src="assets/images/destination/des-sm3.png" alt="" />
              </div>
              <div class="d-card-content">
                <h4 class="destination-title">
                  <a href="destination-details.html">Marakana</a>
                </h4>
                <div class="place-count"><span>45</span> Place</div>
              </div>
            </div>
            <div class="destination-card-style-two">
              <div class="d-card-thumb">
                <img src="assets/images/destination/des-sm4.png" alt="" />
              </div>
              <div class="d-card-content">
                <h4 class="destination-title">
                  <a href="destination-details.html">Wiesbaden</a>
                </h4>
                <div class="place-count"><span>45</span> Place</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="destination-card-style-two">
              <div class="d-card-thumb">
                <img src="assets/images/destination/des-sm5.png" alt="" />
              </div>
              <div class="d-card-content">
                <h4 class="destination-title">
                  <a href="destination-details.html">Nuremberg</a>
                </h4>
                <div class="place-count"><span>45</span> Place</div>
              </div>
            </div>
            <div class="destination-card-style-two">
              <div class="d-card-thumb">
                <img src="assets/images/destination/des-sm6.png" alt="" />
              </div>
              <div class="d-card-content">
                <h4 class="destination-title">
                  <a href="destination-details.html">Chemnitz</a>
                </h4>
                <div class="place-count"><span>45</span> Place</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="destination-card-style-two">
              <div class="d-card-thumb">
                <img src="assets/images/destination/des-sm7.png" alt="" />
              </div>
              <div class="d-card-content">
                <h4 class="destination-title">
                  <a href="destination-details.html">Bielefeld</a>
                </h4>
                <div class="place-count"><span>45</span> Place</div>
              </div>
            </div>
            <div class="destination-card-style-two">
              <div class="d-card-thumb">
                <img src="assets/images/destination/des-sm8.png" alt="" />
              </div>
              <div class="d-card-content">
                <h4 class="destination-title">
                  <a href="destination-details.html">Oberhausen</a>
                </h4>
                <div class="place-count"><span>45</span> Place</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="destination-card-style-two">
              <div class="d-card-thumb">
                <img src="assets/images/destination/des-sm7.png" alt="" />
              </div>
              <div class="d-card-content">
                <h4 class="destination-title">
                  <a href="destination-details.html">Bielefeld</a>
                </h4>
                <div class="place-count"><span>45</span> Place</div>
              </div>
            </div>
            <div class="destination-card-style-two">
              <div class="d-card-thumb">
                <img src="assets/images/destination/des-sm8.png" alt="" />
              </div>
              <div class="d-card-content">
                <h4 class="destination-title">
                  <a href="destination-details.html">Oberhausen</a>
                </h4>
                <div class="place-count"><span>45</span> Place</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="destination-card-style-two">
              <div class="d-card-thumb">
                <img src="assets/images/destination/des-sm3.png" alt="" />
              </div>
              <div class="d-card-content">
                <h4 class="destination-title">
                  <a href="destination-details.html">Augsburg</a>
                </h4>
                <div class="place-count"><span>45</span> Place</div>
              </div>
            </div>
            <div class="destination-card-style-two">
              <div class="d-card-thumb">
                <img src="assets/images/destination/des-sm4.png" alt="" />
              </div>
              <div class="d-card-content">
                <h4 class="destination-title">
                  <a href="destination-details.html">Wiesbaden</a>
                </h4>
                <div class="place-count"><span>45</span> Place</div>
              </div>
            </div>
          </div>
        </div>
        <div class="testi-pagination text-center"></div>
      </div>
    </div>
  </div>

  <div class="newslatter-area newslatter-style-two mt-120">
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div class="col-lg-6">
          <div class="newslatter-offer-side">
            <div class="newslatter-offer-content">
              <h2>
                Get 10% Off On <br />
                <span>Family & Group</span> Tour
              </h2>
              <h6>
                Sign up to receive the best offers on promotion and coupons.
                Don’t worry! It’s not Spam
              </h6>
              <div class="explore-btn">
                <a href="#" class="button-fill-round">Explore Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="newslatter-form-side">
            <div class="newslatter-form-content">
              <h2>
                Subscribe Our <br />
                <span>Newsletter</span>
              </h2>
              <h6>
                Sign up to receive the best offers on promotion and coupons.
                Don’t worry! It’s not Spam
              </h6>
              <form action="#" method="post" id="newslatter-forem2">
                <div class="newslatter-form-wrap">
                  <input type="text" placeholder="Enter Your Email Here..." />
                  <button type="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="package-area offer-package-style-one pt-110">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="section-head-gamma">
            <h2>Choose Your Package</h2>
          </div>
        </div>
        <div class="offer-switch-button">
          <ul
            class="nav nav-pills mb-3 justify-content-center"
            id="pills-tab"
            role="tablist"
          >
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="pills-offer1"
                data-bs-toggle="pill"
                data-bs-target="#pills-offer-tab1"
                type="button"
                role="tab"
                aria-controls="pills-offer-tab1"
                aria-selected="true"
              >
                10%
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-offer2"
                data-bs-toggle="pill"
                data-bs-target="#pills-offer-tab2"
                type="button"
                role="tab"
                aria-controls="pills-offer-tab2"
                aria-selected="false"
              >
                30%
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-offer3"
                data-bs-toggle="pill"
                data-bs-target="#pills-offer-tab3"
                type="button"
                role="tab"
                aria-controls="pills-offer-tab3"
                aria-selected="false"
              >
                20%
              </button>
            </li>
          </ul>
        </div>
        <div class="offer-single-tabs">
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-offer-tab1"
              role="tabpanel"
              aria-labelledby="pills-offer1"
            >
              <div class="row g-4">
                <div class="col-lg-4 col-md-6">
                  <div class="package-card-alpha">
                    <div class="package-thumb">
                      <a href="package-details.html"
                        ><img src="assets/images/package/p-alpha1.png" alt=""
                      /></a>
                      <p class="card-lavel">
                        <i class="bi bi-clock"></i>
                        <span>4 Day & 3 night</span>
                      </p>
                    </div>
                    <div class="package-card-body">
                      <h3 class="p-card-title">
                        <a href="package-details.html"
                          >Etiam placerat dictum consequat an Pellentesque
                          habitant morbi.</a
                        >
                      </h3>
                      <div class="p-card-bottom">
                        <div class="book-btn">
                          <a href="package-details.html"
                            >Book Now <i class="bx bxs-right-arrow-alt"></i
                          ></a>
                        </div>
                        <div class="p-card-info">
                          <span>From</span>
                          <h6>$91.00 <span>Per Person</span></h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="package-card-alpha">
                    <div class="package-thumb">
                      <a href="package-details.html"
                        ><img src="assets/images/package/p-alpha2.png" alt=""
                      /></a>
                      <p class="card-lavel">
                        <i class="bi bi-clock"></i>
                        <span>5 Day & 6 night</span>
                      </p>
                    </div>
                    <div class="package-card-body">
                      <h3 class="p-card-title">
                        <a href="package-details.html"
                          >varius condimentum consequat frin Aenean pretium
                          risus eu.</a
                        >
                      </h3>
                      <div class="p-card-bottom">
                        <div class="book-btn">
                          <a href="package-details.html"
                            >Book Now <i class="bx bxs-right-arrow-alt"></i
                          ></a>
                        </div>
                        <div class="p-card-info">
                          <span>From</span>
                          <h6>$79.00 <span>Per Person</span></h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="package-card-alpha">
                    <div class="package-thumb">
                      <a href="package-details.html"
                        ><img src="assets/images/package/p-alpha3.png" alt=""
                      /></a>
                      <p class="card-lavel"></p>
                    </div>
                    <div class="package-card-body">
                      <h3 class="p-card-title">
                        <a href="package-details.html"
                          >Praesent sed elit mi. In risus nullaam efficitur
                          non elementum eget.</a
                        >
                      </h3>
                      <div class="p-card-bottom">
                        <div class="book-btn">
                          <a href="package-details.html"
                            >Book Now <i class="bx bxs-right-arrow-alt"></i
                          ></a>
                        </div>
                        <div class="p-card-info">
                          <span>From</span>
                          <h6>$67.00 <span>Per Person</span></h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="package-card-alpha">
                    <div class="package-thumb">
                      <a href="package-details.html"
                        ><img src="assets/images/package/p-alpha4.png" alt=""
                      /></a>
                      <p class="card-lavel">
                        <i class="bi bi-clock"></i>
                        <span>4 Day & 3 night</span>
                      </p>
                    </div>
                    <div class="package-card-body">
                      <h3 class="p-card-title">
                        <a href="package-details.html"
                          >Sed ultricies sapien arcu, sed cong feugiat sapien
                          dignissim id.
                        </a>
                      </h3>
                      <div class="p-card-bottom">
                        <div class="book-btn">
                          <a href="package-details.html"
                            >Book Now <i class="bx bxs-right-arrow-alt"></i
                          ></a>
                        </div>
                        <div class="p-card-info">
                          <span>From</span>
                          <h6>$67.00 <span>Per Person</span></h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="package-card-alpha">
                    <div class="package-thumb">
                      <a href="package-details.html"
                        ><img src="assets/images/package/p-alpha5.png" alt=""
                      /></a>
                      <p class="card-lavel">
                        <i class="bi bi-clock"></i>
                        <span>4 Day & 3 night</span>
                      </p>
                    </div>
                    <div class="package-card-body">
                      <h3 class="p-card-title">
                        <a href="package-details.html"
                          >Pellentesque habitant morbi malesua tristique
                          senectus et netus et.</a
                        >
                      </h3>
                      <div class="p-card-bottom">
                        <div class="book-btn">
                          <a href="package-details.html"
                            >Book Now <i class="bx bxs-right-arrow-alt"></i
                          ></a>
                        </div>
                        <div class="p-card-info">
                          <span>From</span>
                          <h6>$91.00 <span>Per Person</span></h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="package-card-alpha">
                    <div class="package-thumb">
                      <a href="package-details.html"
                        ><img src="assets/images/package/p-alpha6.png" alt=""
                      /></a>
                      <p class="card-lavel">
                        <i class="bi bi-clock"></i>
                        <span>3 Day & 2 night</span>
                      </p>
                    </div>
                    <div class="package-card-body">
                      <h3 class="p-card-title">
                        <a href="package-details.html"
                          >San Francisco Golden Gate Bridge, cable cars &
                          fog.</a
                        >
                      </h3>
                      <div class="p-card-bottom">
                        <div class="book-btn">
                          <a href="package-details.html"
                            >Book Now <i class="bx bxs-right-arrow-alt"></i
                          ></a>
                        </div>
                        <div class="p-card-info">
                          <span>From</span>
                          <h6>$88.00 <span>Per Person</span></h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="package-page-btn text-center mt-60">
                <a href="package.html" class="button-fill-round"
                  >View All Offer</a
                >
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="pills-offer-tab2"
              role="tabpanel"
              aria-labelledby="pills-offer2"
            >
              <div class="row g-4">
                <div class="col-lg-4 col-md-6">
                  <div class="package-card-alpha">
                    <div class="package-thumb">
                      <a href="package-details.html"
                        ><img src="assets/images/package/p-alpha3.png" alt=""
                      /></a>
                      <p class="card-lavel">
                        <i class="bi bi-clock"></i>
                        <span>4 Day & 3 night</span>
                      </p>
                    </div>
                    <div class="package-card-body">
                      <h3 class="p-card-title">
                        <a href="package-details.html"
                          >Praesent sed elit mi. In risus nullaam efficitur
                          non elementum eget.</a
                        >
                      </h3>
                      <div class="p-card-bottom">
                        <div class="book-btn">
                          <a href="package-details.html"
                            >Book Now <i class="bx bxs-right-arrow-alt"></i
                          ></a>
                        </div>
                        <div class="p-card-info">
                          <span>From</span>
                          <h6>$67.00 <span>Per Person</span></h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="package-card-alpha">
                    <div class="package-thumb">
                      <a href="package-details.html"
                        ><img src="assets/images/package/p-alpha4.png" alt=""
                      /></a>
                      <p class="card-lavel">
                        <i class="bi bi-clock"></i>
                        <span>5 Day & 6 night</span>
                      </p>
                    </div>
                    <div class="package-card-body">
                      <h3 class="p-card-title">
                        <a href="package-details.html"
                          >Sed ultricies sapien arcu, sed cong feugiat sapien
                          dignissim id.
                        </a>
                      </h3>
                      <div class="p-card-bottom">
                        <div class="book-btn">
                          <a href="package-details.html"
                            >Book Now <i class="bx bxs-right-arrow-alt"></i
                          ></a>
                        </div>
                        <div class="p-card-info">
                          <span>From</span>
                          <h6>$67.00 <span>Per Person</span></h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="package-card-alpha">
                    <div class="package-thumb">
                      <a href="package-details.html"
                        ><img src="assets/images/package/p-alpha6.png" alt=""
                      /></a>
                      <p class="card-lavel">
                        <i class="bi bi-clock"></i>
                        <span>4 Day & 3 night</span>
                      </p>
                    </div>
                    <div class="package-card-body">
                      <h3 class="p-card-title">
                        <a href="package-details.html"
                          >San Francisco Golden Gate Bridge, cable cars &
                          fog.</a
                        >
                      </h3>
                      <div class="p-card-bottom">
                        <div class="book-btn">
                          <a href="package-details.html"
                            >Book Now <i class="bx bxs-right-arrow-alt"></i
                          ></a>
                        </div>
                        <div class="p-card-info">
                          <span>From</span>
                          <h6>$91.00 <span>Per Person</span></h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="package-page-btn text-center mt-60">
                <a href="package.html" class="button-fill-round"
                  >View All Offer</a
                >
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="pills-offer-tab3"
              role="tabpanel"
              aria-labelledby="pills-offer3"
            >
              <div class="row g-4">
                <div class="col-lg-4 col-md-6">
                  <div class="package-card-alpha">
                    <div class="package-thumb">
                      <a href="package-details.html"
                        ><img src="assets/images/package/p-alpha3.png" alt=""
                      /></a>
                      <p class="card-lavel">
                        <i class="bi bi-clock"></i>
                        <span>4 Day & 3 night</span>
                      </p>
                    </div>
                    <div class="package-card-body">
                      <h3 class="p-card-title">
                        <a href="package-details.html"
                          >Praesent sed elit mi. In risus nullaam efficitur
                          non elementum eget.</a
                        >
                      </h3>
                      <div class="p-card-bottom">
                        <div class="book-btn">
                          <a href="package-details.html"
                            >Book Now <i class="bx bxs-right-arrow-alt"></i
                          ></a>
                        </div>
                        <div class="p-card-info">
                          <span>From</span>
                          <h6>$79.00 <span>Per Person</span></h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="package-card-alpha">
                    <div class="package-thumb">
                      <a href="package-details.html"
                        ><img src="assets/images/package/p-alpha4.png" alt=""
                      /></a>
                      <p class="card-lavel">
                        <i class="bi bi-clock"></i>
                        <span>5 Day & 6 night</span>
                      </p>
                    </div>
                    <div class="package-card-body">
                      <h3 class="p-card-title">
                        <a href="package-details.html"
                          >Sed ultricies sapien arcu, sed cong feugiat sapien
                          dignissim id.
                        </a>
                      </h3>
                      <div class="p-card-bottom">
                        <div class="book-btn">
                          <a href="package-details.html"
                            >Book Now <i class="bx bxs-right-arrow-alt"></i
                          ></a>
                        </div>
                        <div class="p-card-info">
                          <span>From</span>
                          <h6>$67.00 <span>Per Person</span></h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="package-card-alpha">
                    <div class="package-thumb">
                      <a href="package-details.html"
                        ><img src="assets/images/package/p-alpha5.png" alt=""
                      /></a>
                      <p class="card-lavel">
                        <i class="bi bi-clock"></i>
                        <span>3 Day & 2 night</span>
                      </p>
                    </div>
                    <div class="package-card-body">
                      <h3 class="p-card-title">
                        <a href="package-details.html"
                          >Pellentesque habitant morbi malesua tristique
                          senectus et netus et.</a
                        >
                      </h3>
                      <div class="p-card-bottom">
                        <div class="book-btn">
                          <a href="package-details.html"
                            >Book Now <i class="bx bxs-right-arrow-alt"></i
                          ></a>
                        </div>
                        <div class="p-card-info">
                          <span>From</span>
                          <h6>$67.00 <span>Per Person</span></h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="package-card-alpha">
                    <div class="package-thumb">
                      <a href="package-details.html"
                        ><img src="assets/images/package/p-alpha6.png" alt=""
                      /></a>
                      <p class="card-lavel">
                        <i class="bi bi-clock"></i>
                        <span>3 Day & 2 night</span>
                      </p>
                    </div>
                    <div class="package-card-body">
                      <h3 class="p-card-title">
                        <a href="package-details.html"
                          >San Francisco Golden Gate Bridge, cable cars &
                          fog.</a
                        >
                      </h3>
                      <div class="p-card-bottom">
                        <div class="book-btn">
                          <a href="package-details.html"
                            >Book Now <i class="bx bxs-right-arrow-alt"></i
                          ></a>
                        </div>
                        <div class="p-card-info">
                          <span>From</span>
                          <h6>$67.00 <span>Per Person</span></h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="package-page-btn text-center mt-60">
                <a href="package.html" class="button-fill-round"
                  >View All Offer</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="world-map-area mt-110">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-head-gamma">
            <h2>Explore The world</h2>
          </div>
        </div>
      </div>
      <div class="world-map-wrap">
        <div class="world-map-background">
          <img src="assets/images/banner/map-bg.png" alt="" />
        </div>
        <div class="single-location location-1">
          <div class="location-icon">
            <i class="bi bi-geo-alt-fill"></i>
          </div>
          <div class="location-disc">
            <h6>United States</h6>
            <p>
              Sed rhoncus eros eu est faucibuses rhoncus. In lobortis, ex sit
              ametend ultricies blandit, dui arcu conguepor urna eu ultricies
              metus.
            </p>
          </div>
        </div>
        <div class="single-location location-2">
          <div class="location-icon">
            <i class="bi bi-geo-alt-fill"></i>
          </div>
          <div class="location-disc">
            <h6>United Kingdom</h6>
            <p>
              Sed rhoncus eros eu est faucibuses rhoncus. In lobortis, ex sit
              ametend ultricies blandit, dui arcu conguepor urna eu ultricies
              metus.
            </p>
          </div>
        </div>
        <div class="single-location location-3">
          <div class="location-icon">
            <i class="bi bi-geo-alt-fill"></i>
          </div>
          <div class="location-disc">
            <h6>Chaina</h6>
            <p>
              Sed rhoncus eros eu est faucibuses rhoncus. In lobortis, ex sit
              ametend ultricies blandit, dui arcu conguepor urna eu ultricies
              metus.
            </p>
          </div>
        </div>
        <div class="single-location location-4">
          <div class="location-icon">
            <i class="bi bi-geo-alt-fill"></i>
          </div>
          <div class="location-disc">
            <h6>Brazil</h6>
            <p>
              Sed rhoncus eros eu est faucibuses rhoncus. In lobortis, ex sit
              ametend ultricies blandit, dui arcu conguepor urna eu ultricies
              metus.
            </p>
          </div>
        </div>
        <div class="single-location location-5">
          <div class="location-icon">
            <i class="bi bi-geo-alt-fill"></i>
          </div>
          <div class="location-disc">
            <h6>Singapore</h6>
            <p>
              Sed rhoncus eros eu est faucibuses rhoncus. In lobortis, ex sit
              ametend ultricies blandit, dui arcu conguepor urna eu ultricies
              metus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonial-area testimonial-style-two pt-110 pb-110">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-head-gamma">
            <h2 class="text-white">What Our Travelar Say</h2>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-12">
          <div class="swiper testimonial-slider-two">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-card-gamma mx-auto">
                  <div class="testimonial-quote-icon">
                    <img
                      src="assets/images/icons/qoute-icon.svg"
                      class="img-fluid"
                    />
                  </div>
                  <div class="testimonial-card-body">
                    <div class="review-texts">
                      <p>
                        Duis rutrum nisl urna. Maecenas vel libero faucibus
                        nisi venenatis hendrerit a id lectus. Suspendissendt
                        molestie turpis nec lacinia vehicula. Quisque eget
                        volutpat purus. Aenean blandit magna maximus landi
                        quam facilisis, tempor porttitor elit hendrerit.
                        Aliquam cursus arcu vel bibendum pulvinar. Sed
                        dictumtr blandit interdum. Sed pellentesque at nunc
                        eget consectetur.
                      </p>
                    </div>
                    <div class="testimonial-info">
                      <div class="reviewr-info">
                        <div class="single-thumb">
                          <img
                            src="assets/images/reviewer/testti-thumb1.png"
                            alt=""
                          />
                        </div>
                        <div class="reviwer-info-cotn">
                          <h5 class="reviewer-name">Jims Pull</h5>
                          <p>Traveller</p>
                        </div>
                      </div>
                      <ul class="reviewer-rating gap-2">
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonial-card-gamma mx-auto">
                  <div class="testimonial-quote-icon">
                    <img
                      src="assets/images/icons/qoute-icon.svg"
                      class="img-fluid"
                    />
                  </div>
                  <div class="testimonial-card-body">
                    <div class="review-texts">
                      <p>
                        Duis rutrum nisl urna. Maecenas vel libero faucibus
                        nisi venenatis hendrerit a id lectus. Suspendissendt
                        molestie turpis nec lacinia vehicula. Quisque eget
                        volutpat purus. Aenean blandit magna maximus landi
                        quam facilisis, tempor porttitor elit hendrerit.
                        Aliquam cursus arcu vel bibendum pulvinar. Sed
                        dictumtr blandit interdum. Sed pellentesque at nunc
                        eget consectetur.
                      </p>
                    </div>
                    <div class="testimonial-info">
                      <div class="reviewr-info">
                        <div class="single-thumb">
                          <img
                            src="assets/images/reviewer/testti-thumb2.png"
                            alt=""
                          />
                        </div>
                        <div class="reviwer-info-cotn">
                          <h5 class="reviewer-name">Shwan Pull</h5>
                          <p>Traveller</p>
                        </div>
                      </div>
                      <ul class="reviewer-rating gap-2">
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonial-card-gamma mx-auto">
                  <div class="testimonial-quote-icon">
                    <img
                      src="assets/images/icons/qoute-icon.svg"
                      class="img-fluid"
                    />
                  </div>
                  <div class="testimonial-card-body">
                    <div class="review-texts">
                      <p>
                        Duis rutrum nisl urna. Maecenas vel libero faucibus
                        nisi venenatis hendrerit a id lectus. Suspendissendt
                        molestie turpis nec lacinia vehicula. Quisque eget
                        volutpat purus. Aenean blandit magna maximus landi
                        quam facilisis, tempor porttitor elit hendrerit.
                        Aliquam cursus arcu vel bibendum pulvinar. Sed
                        dictumtr blandit interdum. Sed pellentesque at nunc
                        eget consectetur.
                      </p>
                    </div>
                    <div class="testimonial-info">
                      <div class="reviewr-info">
                        <div class="single-thumb">
                          <img
                            src="assets/images/reviewer/testti-thumb1.png"
                            alt=""
                          />
                        </div>
                        <div class="reviwer-info-cotn">
                          <h5 class="reviewer-name">Mixis Pull</h5>
                          <p>Traveller</p>
                        </div>
                      </div>
                      <ul class="reviewer-rating gap-2">
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="guide-area guide-style-one pt-110">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-head-gamma">
            <h2>Tour Guide</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="guide-card-gamma">
            <div class="guide-image">
              <img src="assets/images/guide/guide-md4.png" alt="" />
              <ul class="guide-social-links">
                <li>
                  <a href="#"><i class="bx bxl-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bx bxl-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bx bxl-twitter"></i></a>
                </li>
              </ul>
              <div class="contact-lavel">
                <a href="#">Contact</a>
              </div>
            </div>
            <div class="guide-content">
              <h4 class="guide-name">Sebastian Mateo</h4>
              <h6 class="guide-designation">Tour Guide</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="guide-card-gamma">
            <div class="guide-image">
              <img src="assets/images/guide/guide-md5.png" alt="" />
              <ul class="guide-social-links">
                <li>
                  <a href="#"><i class="bx bxl-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bx bxl-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bx bxl-twitter"></i></a>
                </li>
              </ul>
              <div class="contact-lavel">
                <a href="#">Contact</a>
              </div>
            </div>
            <div class="guide-content">
              <h4 class="guide-name">Theodore Aiden</h4>
              <h6 class="guide-designation">Tour Guide</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="guide-card-gamma">
            <div class="guide-image">
              <img src="assets/images/guide/guide-md6.png" alt="" />
              <ul class="guide-social-links">
                <li>
                  <a href="#"><i class="bx bxl-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bx bxl-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bx bxl-twitter"></i></a>
                </li>
              </ul>
              <div class="contact-lavel">
                <a href="#">Contact</a>
              </div>
            </div>
            <div class="guide-content">
              <h4 class="guide-name">Lincoln Anthony</h4>
              <h6 class="guide-designation">Tour Guide</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blog-area blog-style-two pt-110">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="section-head-gamma text-start">
            <h2>Latest Blog</h2>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="blog-btn text-lg-end">
            <a href="blog.html" class="button-fill-round">View All</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="blog-card-gamma">
            <div class="blog-thumb">
              <a href="blog-details.html">
                <img src="assets/images/blog/blog-md-1.png" alt="" />
              </a>
              <div class="blog-lavel">
                <a href="#">Tour</a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-body-top">
                <a href="#" class="blog-writer"
                  ><i class="bi bi-person-circle"></i> By John Smith
                </a>
                <a href="#" class="blog-comments"
                  ><i class="bi bi-calendar3"></i> Novembar 16, 2021</a
                >
              </div>
              <h4 class="blog-title">
                <a href="blog-details.html"
                  >vitae tempor convallis, mi ligula an suscipit nunc, ornare
                  suscipit.</a
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog-card-gamma">
            <div class="blog-thumb">
              <a href="blog-details.html">
                <img src="assets/images/blog/blog-md-2.png" alt="" />
              </a>
              <div class="blog-lavel">
                <a href="#">Travel</a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-body-top">
                <a href="#" class="blog-writer"
                  ><i class="bi bi-person-circle"></i> By John Smith
                </a>
                <a href="#" class="blog-comments"
                  ><i class="bi bi-calendar3"></i> Novembar 16, 2021</a
                >
              </div>
              <h4 class="blog-title">
                <a href="blog-details.html"
                  >Mauris commodo massa vel diamnat feugiat sagittis Nunc
                  maxim.</a
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog-card-gamma">
            <div class="blog-thumb">
              <a href="blog-details.html">
                <img src="assets/images/blog/blog-md-3.png" alt="" />
              </a>
              <div class="blog-lavel">
                <a href="#">Guide</a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-body-top">
                <a href="#" class="blog-writer"
                  ><i class="bi bi-person-circle"></i> By John Smith
                </a>
                <a href="#" class="blog-comments"
                  ><i class="bi bi-calendar3"></i> Novembar 16, 2021</a
                >
              </div>
              <h4 class="blog-title">
                <a href="blog-details.html"
                  >Nulla urna leo, volutpat eu maurisa eget luctus malesuada
                  urna.</a
                >
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="social-activity-area mt-120">
    <div class="container-fluid p-0">
      <div class="swiper social-activity-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="social-card">
              <div class="social-thumb">
                <img src="assets/images/gallary/social1.png" alt="" />
              </div>
              <a class="social-overlay" href="#">
                <i class="bx bxl-facebook"></i>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="social-card">
              <div class="social-thumb">
                <img src="assets/images/gallary/social2.png" alt="" />
              </div>
              <a class="social-overlay" href="#">
                <i class="bx bxl-facebook"></i>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="social-card">
              <div class="social-thumb">
                <img src="assets/images/gallary/social3.png" alt="" />
              </div>
              <a class="social-overlay" href="#">
                <i class="bx bxl-facebook"></i>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="social-card">
              <div class="social-thumb">
                <img src="assets/images/gallary/social4.png" alt="" />
              </div>
              <a class="social-overlay" href="#">
                <i class="bx bxl-facebook"></i>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="social-card">
              <div class="social-thumb">
                <img src="assets/images/gallary/social5.png" alt="" />
              </div>
              <a class="social-overlay" href="#">
                <i class="bx bxl-facebook"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('footer') %>