<%- include('header') %>
<div class="breadcrumb breadcrumb-style-one">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h2 class="breadcrumb-title">Tour Package</h2>
        <ul class="d-flex justify-content-center breadcrumb-items">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Tour Package</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="package-wrapper pt-80">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="package-card-alpha">
            <div class="package-thumb">
              <a href="/package-details"
                ><img src="assets/images/package/p-alpha1.png" alt=""
              /></a>
              <p class="card-lavel">
                <i class="bi bi-clock"></i> <span>3 Day & 2 night</span>
              </p>
            </div>
            <div class="package-card-body">
              <h3 class="p-card-title">
                <a href="/package-details"
                  >Etiam placerat dictum consequat an Pellentesque habitant
                  morbi.</a
                >
              </h3>
              <div class="p-card-bottom">
                <div class="book-btn">
                  <a href="/package-details"
                    >Book Now <i class="bx bxs-right-arrow-alt"></i
                  ></a>
                </div>
                <div class="p-card-info">
                  <span>From</span>
                  <h6>$88.00 <span>Per Person</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="package-card-alpha">
            <div class="package-thumb">
              <a href="/package-details"
                ><img src="assets/images/package/p-alpha2.png" alt=""
              /></a>
              <p class="card-lavel">
                <i class="bi bi-clock"></i> <span>3 Day & 2 night</span>
              </p>
            </div>
            <div class="package-card-body">
              <h3 class="p-card-title">
                <a href="/package-details"
                  >varius condimentum consequat frin Aenean pretium risus
                  eu.</a
                >
              </h3>
              <div class="p-card-bottom">
                <div class="book-btn">
                  <a href="/package-details"
                    >Book Now <i class="bx bxs-right-arrow-alt"></i
                  ></a>
                </div>
                <div class="p-card-info">
                  <span>From</span>
                  <h6>$67.00 <span>Per Person</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="package-card-alpha">
            <div class="package-thumb">
              <a href="/package-details"
                ><img src="assets/images/package/p-alpha3.png" alt=""
              /></a>
              <p class="card-lavel">
                <i class="bi bi-clock"></i> <span>7 Day & 6 night</span>
              </p>
            </div>
            <div class="package-card-body">
              <h3 class="p-card-title">
                <a href="/package-details"
                  >Praesent sed elit mi. In risus nullaam efficitur non
                  elementum eget.</a
                >
              </h3>
              <div class="p-card-bottom">
                <div class="book-btn">
                  <a href="/package-details"
                    >Book Now <i class="bx bxs-right-arrow-alt"></i
                  ></a>
                </div>
                <div class="p-card-info">
                  <span>From</span>
                  <h6>$91.00 <span>Per Person</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="package-card-alpha">
            <div class="package-thumb">
              <a href="/package-details"
                ><img src="assets/images/package/p-alpha4.png" alt=""
              /></a>
              <p class="card-lavel">
                <i class="bi bi-clock"></i> <span>4 Day & 3 night</span>
              </p>
            </div>
            <div class="package-card-body">
              <h3 class="p-card-title">
                <a href="/package-details"
                  >Sed ultricies sapien arcu, sed cong feugiat sapien
                  dignissim id.
                </a>
              </h3>
              <div class="p-card-bottom">
                <div class="book-btn">
                  <a href="/package-details"
                    >Book Now <i class="bx bxs-right-arrow-alt"></i
                  ></a>
                </div>
                <div class="p-card-info">
                  <span>From</span>
                  <h6>$79.00 <span>Per Person</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="package-card-alpha">
            <div class="package-thumb">
              <a href="/package-details"
                ><img src="assets/images/package/p-alpha5.png" alt=""
              /></a>
              <p class="card-lavel">
                <i class="bi bi-clock"></i> <span>4 Day & 4 night</span>
              </p>
            </div>
            <div class="package-card-body">
              <h3 class="p-card-title">
                <a href="/package-details"
                  >Pellentesque habitant morbi malesua tristique senectus et
                  netus et.</a
                >
              </h3>
              <div class="p-card-bottom">
                <div class="book-btn">
                  <a href="/package-details"
                    >Book Now <i class="bx bxs-right-arrow-alt"></i
                  ></a>
                </div>
                <div class="p-card-info">
                  <span>From</span>
                  <h6>$88.00 <span>Per Person</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="package-card-alpha">
            <div class="package-thumb">
              <a href="/package-details"
                ><img src="assets/images/package/p-alpha6.png" alt=""
              /></a>
              <p class="card-lavel">
                <i class="bi bi-clock"></i> <span>3 Day & 2 night</span>
              </p>
            </div>
            <div class="package-card-body">
              <h3 class="p-card-title">
                <a href="/package-details"
                  >San Francisco Golden Gate Bridge, cable cars & fog.</a
                >
              </h3>
              <div class="p-card-bottom">
                <div class="book-btn">
                  <a href="/package-details"
                    >Book Now <i class="bx bxs-right-arrow-alt"></i
                  ></a>
                </div>
                <div class="p-card-info">
                  <span>From</span>
                  <h6>$79.00 <span>Per Person</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="package-card-alpha">
            <div class="package-thumb">
              <a href="/package-details"
                ><img src="assets/images/package/p-alpha7.png" alt=""
              /></a>
              <p class="card-lavel">
                <i class="bi bi-clock"></i> <span>3 Day & 2 night</span>
              </p>
            </div>
            <div class="package-card-body">
              <h3 class="p-card-title">
                <a href="/package-details"
                  >Etiam placerat dictum consequat an Pellentesque habitant
                  morbi.</a
                >
              </h3>
              <div class="p-card-bottom">
                <div class="book-btn">
                  <a href="/package-details"
                    >Book Now <i class="bx bxs-right-arrow-alt"></i
                  ></a>
                </div>
                <div class="p-card-info">
                  <span>From</span>
                  <h6>$79.00 <span>Per Person</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="package-card-alpha">
            <div class="package-thumb">
              <a href="/package-details"
                ><img src="assets/images/package/p-alpha8.png" alt=""
              /></a>
              <p class="card-lavel">
                <i class="bi bi-clock"></i> <span>5 Day & 6 night</span>
              </p>
            </div>
            <div class="package-card-body">
              <h3 class="p-card-title">
                <a href="/package-details"
                  >varius condimentum consequat frin Aenean pretium risus
                  eu.</a
                >
              </h3>
              <div class="p-card-bottom">
                <div class="book-btn">
                  <a href="/package-details"
                    >Book Now <i class="bx bxs-right-arrow-alt"></i
                  ></a>
                </div>
                <div class="p-card-info">
                  <span>From</span>
                  <h6>$88.00 <span>Per Person</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="package-card-alpha">
            <div class="package-thumb">
              <a href="/package-details"
                ><img src="assets/images/package/p-alpha9.png" alt=""
              /></a>
              <p class="card-lavel">
                <i class="bi bi-clock"></i> <span>5 Day & 6 night</span>
              </p>
            </div>
            <div class="package-card-body">
              <h3 class="p-card-title">
                <a href="/package-details"
                  >Praesent sed elit mi. In risus nullaam efficitur non
                  elementum eget.</a
                >
              </h3>
              <div class="p-card-bottom">
                <div class="book-btn">
                  <a href="/package-details"
                    >Book Now <i class="bx bxs-right-arrow-alt"></i
                  ></a>
                </div>
                <div class="p-card-info">
                  <span>From</span>
                  <h6>$79.00 <span>Per Person</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="package-card-alpha">
            <div class="package-thumb">
              <a href="/package-details"
                ><img src="assets/images/package/p-alpha10.png" alt=""
              /></a>
              <p class="card-lavel">
                <i class="bi bi-clock"></i> <span>4 Day & 3 night</span>
              </p>
            </div>
            <div class="package-card-body">
              <h3 class="p-card-title">
                <a href="/package-details"
                  >Sed ultricies sapien arcu, sed cong feugiat sapien
                  dignissim id.
                </a>
              </h3>
              <div class="p-card-bottom">
                <div class="book-btn">
                  <a href="/package-details"
                    >Book Now <i class="bx bxs-right-arrow-alt"></i
                  ></a>
                </div>
                <div class="p-card-info">
                  <span>From</span>
                  <h6>$67.00 <span>Per Person</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="package-card-alpha">
            <div class="package-thumb">
              <a href="/package-details"
                ><img src="assets/images/package/p-alpha11.png" alt=""
              /></a>
              <p class="card-lavel">
                <i class="bi bi-clock"></i> <span>3 Day & 2 night</span>
              </p>
            </div>
            <div class="package-card-body">
              <h3 class="p-card-title">
                <a href="/package-details"
                  >Pellentesque habitant morbi malesua tristique senectus et
                  netus et.</a
                >
              </h3>
              <div class="p-card-bottom">
                <div class="book-btn">
                  <a href="/package-details"
                    >Book Now <i class="bx bxs-right-arrow-alt"></i
                  ></a>
                </div>
                <div class="p-card-info">
                  <span>From</span>
                  <h6>$91.00 <span>Per Person</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="package-card-alpha">
            <div class="package-thumb">
              <a href="/package-details"
                ><img src="assets/images/package/p-alpha1.png" alt=""
              /></a>
              <p class="card-lavel">
                <i class="bi bi-clock"></i> <span>2 Day & 1 night</span>
              </p>
            </div>
            <div class="package-card-body">
              <h3 class="p-card-title">
                <a href="/package-details"
                  >San Francisco Golden Gate Bridge, cable cars & fog.</a
                >
              </h3>
              <div class="p-card-bottom">
                <div class="book-btn">
                  <a href="//package-details"
                    >Book Now <i class="bx bxs-right-arrow-alt"></i
                  ></a>
                </div>
                <div class="p-card-info">
                  <span>From</span>
                  <h6>$88.00 <span>Per Person</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <nav>
            <ul
              class="pagination pagination-style-one justify-content-center pt-80"
            >
              <li class="page-item page-arrow">
                <a class="page-link" href="#"
                  ><i class="bi bi-chevron-double-left"></i
                ></a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">01</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">02</a></li>
              <li class="page-item"><a class="page-link" href="#">03</a></li>
              <li class="page-item"><a class="page-link" href="#">04</a></li>
              <li class="page-item page-arrow">
                <a class="page-link" href="#"
                  ><i class="bi bi-chevron-double-right"></i
                ></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
<%- include('footer') %>