<%- include('header') %>
<div class="breadcrumb breadcrumb-style-one">
  <div class="container">
    <div class="col-lg-12 text-center">
      <h2 class="breadcrumb-title">Package Standard</h2>
      <ul class="d-flex justify-content-center breadcrumb-items">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Package Standard</li>
      </ul>
    </div>
  </div>
</div>

<div class="package-standard-wrapper pt-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="package-card-gamma">
          <div class="package-thumb">
            <a href="/package-details"
              ><img src="assets/images/package/p-gumma1.png" alt=""
            /></a>
          </div>
          <div class="package-card-body">
            <p class="card-lavel">
              <i class="bi bi-clock"></i> <span>3 Day & 2 night</span>
            </p>
            <h3 class="p-card-title">
              <a href="/package-details"
                >Donec imperdiet est at ultrices ande sollicitudin urna
                metus.</a
              >
            </h3>
            <div class="p-card-bottom">
              <div class="book-btn">
                <a href="/package-details"
                  >Book Now <i class="bx bxs-right-arrow-alt"></i
                ></a>
              </div>
              <div class="p-card-info">
                <span>From</span>
                <h6>$82.00 <span>/Person</span></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="package-card-gamma">
          <div class="package-thumb">
            <a href="/package-details"
              ><img src="assets/images/package/p-gumma2.png" alt=""
            /></a>
          </div>
          <div class="package-card-body">
            <p class="card-lavel">
              <i class="bi bi-clock"></i> <span>3 Day & 2 night</span>
            </p>
            <h3 class="p-card-title">
              <a href="/package-details"
                >San Francisco Golden Gate Bridge, cable cars & fog</a
              >
            </h3>
            <div class="p-card-bottom">
              <div class="book-btn">
                <a href="/package-details"
                  >Book Now <i class="bx bxs-right-arrow-alt"></i
                ></a>
              </div>
              <div class="p-card-info">
                <span>From</span>
                <h6>$50.00 <span>/Person</span></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="package-card-gamma">
          <div class="package-thumb">
            <a href="/package-details"
              ><img src="assets/images/package/p-gumma3.png" alt=""
            /></a>
          </div>
          <div class="package-card-body">
            <p class="card-lavel">
              <i class="bi bi-clock"></i> <span>3 Day & 2 night</span>
            </p>
            <h3 class="p-card-title">
              <a href="/package-details"
                >Duis pretium sit amet nisi a justont malesuada Fusce congue.</a
              >
            </h3>
            <div class="p-card-bottom">
              <div class="book-btn">
                <a href="/package-details"
                  >Book Now <i class="bx bxs-right-arrow-alt"></i
                ></a>
              </div>
              <div class="p-card-info">
                <span>From</span>
                <h6>$90.00 <span>/Person</span></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="package-card-gamma">
          <div class="package-thumb">
            <a href="/package-details"
              ><img src="assets/images/package/p-gumma4.png" alt=""
            /></a>
          </div>
          <div class="package-card-body">
            <p class="card-lavel">
              <i class="bi bi-clock"></i> <span>3 Day & 2 night</span>
            </p>
            <h3 class="p-card-title">
              <a href="/package-details"
                >Aliquam consequat ac eros vel tellu rutrum. Mauris vitae
                risus.</a
              >
            </h3>
            <div class="p-card-bottom">
              <div class="book-btn">
                <a href="/package-details"
                  >Book Now <i class="bx bxs-right-arrow-alt"></i
                ></a>
              </div>
              <div class="p-card-info">
                <span>From</span>
                <h6>$71.00 <span>/Person</span></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="package-card-gamma">
          <div class="package-thumb">
            <a href="/package-details"
              ><img src="assets/images/package/p-gumma5.png" alt=""
            /></a>
          </div>
          <div class="package-card-body">
            <p class="card-lavel">
              <i class="bi bi-clock"></i> <span>4 Day & 3 night</span>
            </p>
            <h3 class="p-card-title">
              <a href="/package-details"
                >Aenean auctor porta sodales nullam Suspendisse fringilla
                neque.</a
              >
            </h3>
            <div class="p-card-bottom">
              <div class="book-btn">
                <a href="/package-details"
                  >Book Now <i class="bx bxs-right-arrow-alt"></i
                ></a>
              </div>
              <div class="p-card-info">
                <span>From</span>
                <h6>$77.00 <span>/Person</span></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="package-card-gamma">
          <div class="package-thumb">
            <a href="/package-details"
              ><img src="assets/images/package/p-gumma6.png" alt=""
            /></a>
          </div>
          <div class="package-card-body">
            <p class="card-lavel">
              <i class="bi bi-clock"></i> <span>3 Day & 2 night</span>
            </p>
            <h3 class="p-card-title">
              <a href="/package-details"
                >auris vitae nibh nulla. Morbi themed convallis finibus miodio
                Donec.</a
              >
            </h3>
            <div class="p-card-bottom">
              <div class="book-btn">
                <a href="/package-details"
                  >Book Now <i class="bx bxs-right-arrow-alt"></i
                ></a>
              </div>
              <div class="p-card-info">
                <span>From</span>
                <h6>$69.00 <span>/Person</span></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="package-card-gamma">
          <div class="package-thumb">
            <a href="/package-details"
              ><img src="assets/images/package/p-gumma1.png" alt=""
            /></a>
          </div>
          <div class="package-card-body">
            <p class="card-lavel">
              <i class="bi bi-clock"></i> <span>3 Day & 2 night</span>
            </p>
            <h3 class="p-card-title">
              <a href="/package-details"
                >Donec imperdiet est at ultrices ande sollicitudin urna
                metus.</a
              >
            </h3>
            <div class="p-card-bottom">
              <div class="book-btn">
                <a href="/package-details"
                  >Book Now <i class="bx bxs-right-arrow-alt"></i
                ></a>
              </div>
              <div class="p-card-info">
                <span>From</span>
                <h6>$30.00 <span>/Person</span></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <nav>
              <ul
                class="pagination pagination-style-one justify-content-center pt-80"
              >
                <li class="page-item page-arrow">
                  <a class="page-link" href="#"
                    ><i class="bi bi-chevron-double-left"></i
                  ></a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">01</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link" href="#">04</a></li>
                <li class="page-item page-arrow">
                  <a class="page-link" href="#"
                    ><i class="bi bi-chevron-double-right"></i
                  ></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="package-sidebar">
          <aside class="package-widget widget-search">
            <div class="widget-title">
              <h4>Search Here</h4>
            </div>
            <div class="widget-body">
              <form action="#" method="post" id="blog-sidebar-search">
                <div class="search-input-group">
                  <input type="search" placeholder="Your Destination" />
                  <button type="submit">SEAECH</button>
                </div>
              </form>
            </div>
          </aside>
          <aside class="package-widget widget-tour-categoris mt-30">
            <div class="widget-title">
              <h4>Category</h4>
            </div>
            <div class="widget-body">
              <ul>
                <li class="category-check">
                  <label class="form-check-label" for="cate">
                    <i class="bi bi-chevron-double-right"></i> New York City
                  </label>
                  <input class="form-check-input" type="checkbox" id="cate" />
                </li>
                <li class="category-check">
                  <label class="form-check-label" for="cate2">
                    <i class="bi bi-chevron-double-right"></i>Adventure Tour
                  </label>
                  <input class="form-check-input" type="checkbox" id="cate2" />
                </li>
                <li class="category-check">
                  <label class="form-check-label" for="cate3">
                    <i class="bi bi-chevron-double-right"></i> Couple Tour
                  </label>
                  <input class="form-check-input" type="checkbox" id="cate3" />
                </li>
                <li class="category-check">
                  <label class="form-check-label" for="cate4">
                    <i class="bi bi-chevron-double-right"></i> Village Tour
                  </label>
                  <input class="form-check-input" type="checkbox" id="cate4" />
                </li>
                <li class="category-check">
                  <label class="form-check-label" for="cate5">
                    <i class="bi bi-chevron-double-right"></i>Group Tour
                  </label>
                  <input class="form-check-input" type="checkbox" id="cate5" />
                </li>
              </ul>
            </div>
          </aside>
          <aside class="package-widget widget-duration mt-30">
            <div class="widget-title">
              <h4>Chooes Your Duration</h4>
            </div>
            <div class="widget-body">
              <ul>
                <li class="deration-check">
                  <input class="form-check-input" type="checkbox" id="dura1" />
                  <label class="form-check-label" for="dura1">
                    1 - 3 Days
                  </label>
                </li>
                <li class="deration-check">
                  <input class="form-check-input" type="checkbox" id="dura2" />
                  <label class="form-check-label" for="dura2">
                    3 - 5 Days
                  </label>
                </li>
                <li class="deration-check">
                  <input class="form-check-input" type="checkbox" id="dura3" />
                  <label class="form-check-label" for="dura3">
                    5 - 7 Days
                  </label>
                </li>
                <li class="deration-check">
                  <input class="form-check-input" type="checkbox" id="dura4" />
                  <label class="form-check-label" for="dura4">
                    7 - 9 Days
                  </label>
                </li>
                <li class="deration-check">
                  <input class="form-check-input" type="checkbox" id="dura5" />
                  <label class="form-check-label" for="dura5">
                    9 - 11 Days
                  </label>
                </li>
              </ul>
            </div>
          </aside>
          <aside class="package-widget widget-recent-package-entries mt-30">
            <div class="widget-title">
              <h4>Chooes Your Duration</h4>
            </div>
            <div class="widget-body">
              <ul>
                <li class="package-sm">
                  <div class="thumb">
                    <a href="/package-details">
                      <img src="assets/images/package/package-sm4.png" alt="" />
                    </a>
                  </div>
                  <div class="info">
                    <h6>
                      <a href="/package-details"
                        >San Francisco Golden Gate Bridge, cable cars & fog</a
                      >
                    </h6>
                    <div class="price">
                      <span>From</span>
                      <h6>$67.00 <span>Per Person</span></h6>
                    </div>
                  </div>
                </li>
                <li class="package-sm">
                  <div class="thumb">
                    <a href="/package-details">
                      <img src="assets/images/package/package-sm3.png" alt="" />
                    </a>
                  </div>
                  <div class="info">
                    <h6>
                      <a href="/package-details"
                        >Praesent porttitor tellus sed ande ultrices pulvinar
                        magna mauris.</a
                      >
                    </h6>
                    <div class="price">
                      <span>From</span>
                      <h6>$88.00 <span>Per Person</span></h6>
                    </div>
                  </div>
                </li>
                <li class="package-sm">
                  <div class="thumb">
                    <a href="/package-details">
                      <img src="assets/images/package/package-sm2.png" alt="" />
                    </a>
                  </div>
                  <div class="info">
                    <h6>
                      <a href="/package-details"
                        >Vestibulum luctus hendrerit vitae neque, et blandit
                        orci tincidunt.</a
                      >
                    </h6>
                    <div class="price">
                      <span>From</span>
                      <h6>$79.00 <span>Per Person</span></h6>
                    </div>
                  </div>
                </li>
                <li class="package-sm">
                  <div class="thumb">
                    <a href="/package-details">
                      <img src="assets/images/package/package-sm1.png" alt="" />
                    </a>
                  </div>
                  <div class="info">
                    <h6>
                      <a href="/package-details"
                        >San Francisco Golden Gate Bridge, cable cars & fog</a
                      >
                    </h6>
                    <div class="price">
                      <span>From</span>
                      <h6>$88.00 <span>Per Person</span></h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </aside>
          <aside class="widget-banner mt-30">
            <a href="#">
              <img
                src="assets/images/banner/sidebar-banner.png"
                alt=""
                class="img-fluid"
              />
            </a>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('footer') %>
